In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [3]:
df=pd.read_csv('clean_scout_auto.csv')

In [4]:
df.sample(4).T

,13753,14157,11738,4295
brand_model,Renault Clio,Renault Clio,Opel Insignia,Audi A3
body_type,Transporter,Compact,Sedans,Sedans
price,6200,9870,16990,17990
age,3.0,0.0,2.0,2.0
km,99000.0,10.0,16145.0,28000.0
Fuel,Diesel,Benzine,Benzine,Diesel
Type,Used,Pre-registered,Used,Used
prev_owner,NaN,1.0,1.0,1.0
Body Color,White,White,White,Black
Paint Type,NaN,NaN,NaN,Metallic
Gearing Type,Manual,Manual,Manual,Manual
hp,66.0,54.0,103.0,81.0
Consumption_comb,NaN,5.6,6.2,4.0
Consumption_city,NaN,7.2,7.7,4.7
Consumption_country,NaN,4.7,5.3,3.6
Comfort & Convenience,"Air conditioning, Cruise control","Cruise control, Electrical side mirrors, Power...","Air conditioning, Armrest, Electrically adjust...","Air conditioning, Armrest, Automatic climate c..."
Entertainment & Media,NaN,On-board computer,"Bluetooth, Digital radio, Hands-free equipment...","Bluetooth, CD player, On-board computer, Radio..."
Safety & Security,"Central door lock, Fog lights","ABS, Central door lock, Daytime running lights...","ABS, Adaptive Cruise Control, Adaptive headlig...","ABS, Central door lock, Central door lock with..."
Extras,NaN,Catalytic Converter,"Alloy wheels, Roof rack, Touch screen","Alloy wheels, Ski bag, Voice Control"
Upholstery_type,NaN,Cloth,Cloth,Cloth
Upholstery_color,NaN,Other,Black,Grey
vat,NaN,VAT deductible,VAT deductible,NaN
Warranty,3.0,NaN,NaN,12.0
Body Color Original,Blanc,Arktis-Weiß (369),Schneeweiß,NaN
Nr. of Doors,NaN,5.0,4.0,5.0
Nr. of Seats,NaN,5.0,5.0,5.0
Displacement,NaN,1149.0,1490.0,1598.0
Cylinders,NaN,NaN,NaN,4.0
Weight,NaN,1052.0,NaN,1385.0
Drive chain,NaN,front,NaN,front
CO2 Emission,NaN,133.0,141.0,105.0
Emission Class,NaN,Euro 6,Euro 6,Euro 6
Gears,NaN,5.0,NaN,6.0

In [5]:
df.shape

(15919, 33)

In [6]:
df.isnull().sum()

brand_model                  0
body_type                   60
price                        0
age                       1597
km                        1024
Fuel                         0
Type                         2
prev_owner                6828
Body Color                 597
Paint Type                5772
Gearing Type                 0
hp                          88
Consumption_comb          2085
Consumption_city          2466
Consumption_country       2418
Comfort & Convenience      920
Entertainment & Media     1374
Safety & Security          982
Extras                    2962
Upholstery_type           4503
Upholstery_color          5022
vat                       4513
Warranty                 11066
Body Color Original       3774
Nr. of Doors               212
Nr. of Seats               977
Displacement              3437
Cylinders                 5680
Weight                    6974
Drive chain               6858
CO2 Emission              2436
Emission Class            3628
Gears                     4712
dtype: int64

In [7]:
df=df.dropna(thresh=13).drop_duplicates(subset=None, keep='first', inplace=False).reset_index(drop=True)
##with this code we dropped rows that either duplicates or  70% of empty.

In [8]:
df.columns

Index(['brand_model', 'body_type', 'price', 'age', 'km', 'Fuel', 'Type',
       'prev_owner', 'Body Color', 'Paint Type', 'Gearing Type', 'hp',
       'Consumption_comb', 'Consumption_city', 'Consumption_country',
       'Comfort & Convenience', 'Entertainment & Media', 'Safety & Security',
       'Extras', 'Upholstery_type', 'Upholstery_color', 'vat', 'Warranty',
       'Body Color Original', 'Nr. of Doors', 'Nr. of Seats', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'CO2 Emission', 'Emission Class',
       'Gears'],
      dtype='object')

# Firstly, we will handle missing values in the categorical columns.

## brand_model

In [9]:
df['brand_model'].value_counts()

Audi A3           2808
Opel Insignia     2411
Audi A1           2394
Opel Astra        2319
Opel Corsa        2051
Renault Clio      1486
Renault Espace     872
Renault Duster      34
Audi A2              1
Name: brand_model, dtype: int64

In [10]:
df['brand_model'].isnull().sum()
#There is no missing value.

0

## 'body_type'

In [11]:
df['body_type'].value_counts(dropna=False)

Sedans           7203
Station wagon    3302
Compact          2683
Van               698
Other             272
Transporter        86
Off-Road           56
NaN                44
Coupe              24
Convertible         8
Name: body_type, dtype: int64

In [12]:
df["body_type"].fillna(df.groupby(['brand_model'])['body_type'].transform(lambda x: x.mode()[0]),inplace=True)

In [13]:
df['body_type'].value_counts(dropna=False)

Sedans           7221
Station wagon    3305
Compact          2685
Van               719
Other             272
Transporter        86
Off-Road           56
Coupe              24
Convertible         8
Name: body_type, dtype: int64

## 'age'

In [14]:
df['age'].value_counts(dropna=False)

1.0    4291
3.0    3304
2.0    2887
0.0    2515
NaN    1379
Name: age, dtype: int64

In [15]:
df.groupby('age')['km'].describe()

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
0.0,2383.0,2321.785984,5654.828329,1.0,10.00,100.0,3260.00,127022.0
1.0,4257.0,18065.451492,10923.387997,1.0,9999.00,17919.0,25055.00,136000.0
2.0,2886.0,42351.321899,28609.934911,1.0,22000.00,35448.5,56436.75,317000.0
3.0,3304.0,76638.800545,39670.274297,10.0,46683.75,72000.0,98694.00,291800.0

In [16]:
df.loc[df['km']<8000,'age']=df.loc[df['km']<8000,'age'].replace(np.nan,0)
df.loc[(df['km']>=8000)&(df['km']<26000),'age']=df.loc[(df['km']>=8000)&(df['km']<26000),'age'].replace(np.nan,1)
df.loc[(df['km']>=26000)&(df['km']<55000),'age']=df.loc[(df['km']>=26000)&(df['km']<55000),'age'].replace(np.nan,2)
df.loc[df['km']>=55000,'age']=df.loc[df['km']>=55000,'age'].replace(np.nan,3)

In [17]:
df['age'].value_counts(dropna=False)
##Because missing 'km' values, we still have a lot of 'NaN' values.

1.0    4297
3.0    3309
0.0    3155
2.0    2890
NaN     725
Name: age, dtype: int64

In [18]:
df.loc[df['price']>27000,'age']=df.loc[df['price']>27000,'age'].fillna(df.loc[df['price']>27000].groupby(['brand_model','body_type'])['age'].transform(lambda x : x.mode()[0]))

In [19]:

df.loc[(df['price']<=27000)&(df['price']>18000),'age']=df.loc[(df['price']<=27000)&(df['price']>18000),'age'].fillna(df.loc[(df['price']<=27000)&(df['price']>18000)].groupby(['brand_model','body_type'])['age'].transform(lambda x : x.mode()[0]))

In [20]:
df.loc[(df['price']<=18000)&(df['price']>10000),'age']=df.loc[(df['price']<=18000)&(df['price']>10000),'age'].fillna(df.loc[(df['price']<=18000)&(df['price']>10000)].groupby(['brand_model','body_type'])['age'].transform(lambda x : x.mode()[0]))

In [21]:
df.loc[(df['price']<=10000),'age']=df.loc[(df['price']<=10000),'age'].fillna(df.loc[(df['price']<=10000)].groupby(['brand_model','body_type'])['age'].transform(lambda x : x.mode()[0]))

In [22]:
df['age'].value_counts(dropna=False)
##in the last part we categorized the column according to price and taked mode()

1.0    4500
0.0    3649
3.0    3326
2.0    2901
Name: age, dtype: int64

In [23]:
df.groupby('age')['km'].describe()

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
0.0,3023.0,1843.127688,5108.966021,0.0,10.0,20.0,2000.0,127022.0
1.0,4263.0,18065.294159,10917.287222,1.0,9999.5,17922.0,25051.5,136000.0
2.0,2889.0,42344.106957,28596.149060,1.0,22000.0,35427.0,56340.0,317000.0
3.0,3309.0,76648.400121,39642.231389,10.0,46752.0,72000.0,98694.0,291800.0

In [24]:
df.groupby(['brand_model','age'])['price'].mean().T

brand_model     age
Audi A1         0.0    23971.763006
                1.0    18416.960055
                2.0    16669.723618
                3.0    14472.434256
Audi A2         1.0    28200.000000
Audi A3         0.0    25023.807453
                1.0    22711.603750
                2.0    19972.381173
                3.0    16581.198324
Opel Astra      0.0    21763.698835
                1.0    16190.545703
                2.0    13111.987680
                3.0    11356.345382
Opel Corsa      0.0    13709.103393
                1.0    11326.252585
                2.0     9261.165746
                3.0     8249.043257
Opel Insignia   0.0    33703.492593
                1.0    21750.525403
                2.0    16986.620038
                3.0    13684.487850
Renault Clio    0.0    12096.525773
                1.0    14369.170254
                2.0    10838.333333
                3.0     9450.802360
Renault Duster  0.0    13230.176471
Renault Espace  0.0    40410.381579
                1.0    32068.391837
                2.0    26806.727273
                3.0    22004.003745
Name: price, dtype: float64

## Fuel

In [25]:
df['Fuel'].value_counts(dropna=False)

Benzine    7724
Diesel     6580
LPG          59
Other        13
Name: Fuel, dtype: int64

In [26]:
df['Fuel'].isnull().sum()
#There is no missing value

0

## Type

In [27]:
df['Type'].value_counts(dropna=False)

Used              10158
New                1417
Pre-registered     1112
Employee's car      907
Demonstration       780
NaN                   2
Name: Type, dtype: int64

In [28]:
df.loc[df['Type'].isnull()].T

,2523,4803
brand_model,Audi A3,Audi A3
body_type,Sedans,Sedans
price,17900,25400
age,3.0,1.0
km,115137.0,NaN
Fuel,Diesel,Diesel
Type,NaN,NaN
prev_owner,NaN,NaN
Body Color,White,Grey
Paint Type,NaN,NaN
Gearing Type,Automatic,Automatic
hp,110.0,85.0
Consumption_comb,4.5,3.9
Consumption_city,5.3,4.0
Consumption_country,4.0,3.7
Comfort & Convenience,Air conditioning,Air conditioning
Entertainment & Media,"Bluetooth, Hands-free equipment","Bluetooth, Hands-free equipment"
Safety & Security,"ABS, Central door lock, Driver-side airbag, Is...","ABS, Central door lock, Driver-side airbag, Is..."
Extras,"Alloy wheels, Sport seats, Sport suspension",Alloy wheels
Upholstery_type,Cloth,Cloth
Upholstery_color,Other,Other
vat,NaN,NaN
Warranty,NaN,NaN
Body Color Original,NaN,NaN
Nr. of Doors,5.0,5.0
Nr. of Seats,5.0,5.0
Displacement,1968.0,1598.0
Cylinders,4.0,4.0
Weight,NaN,NaN
Drive chain,front,front
CO2 Emission,118.0,103.0
Emission Class,Euro 6,Euro 6
Gears,6.0,7.0

In [29]:
df.loc[df['price']>24000,'Type']=df.loc[df['price']>24000,'Type'].replace(np.nan,'New')
df.loc[df['price']<24000,'Type']=df.loc[df['price']<24000,'Type'].replace(np.nan,'Used')

In [30]:
df['Type'].value_counts(dropna=False)
# We filled the missing values according to price column.

Used              10159
New                1418
Pre-registered     1112
Employee's car      907
Demonstration       780
Name: Type, dtype: int64

## prev_owner

In [31]:
df['prev_owner'].value_counts(dropna=False)

1.0    7726
NaN    5990
2.0     641
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [32]:
df.loc[df['Type']=='New','prev_owner']=df.loc[df['Type']=='New','prev_owner'].replace(np.nan,0)

In [33]:
df['prev_owner'].value_counts(dropna=False)

1.0    7726
NaN    4587
0.0    1403
2.0     641
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [34]:
df.loc[(df['age']==0)&(df['km']<5000),'prev_owner']=df.loc[(df['age']==0)&(df['km']<5000),'prev_owner'].replace(np.nan,1)

In [35]:
df['prev_owner'].value_counts(dropna=False)

1.0    8526
NaN    3787
0.0    1403
2.0     641
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [36]:
df['prev_owner']=df['prev_owner'].fillna(df.groupby(['age'])['prev_owner'].transform(lambda x : x.mode()[0]))

In [37]:
df['prev_owner'].value_counts(dropna=False)

1.0    12313
0.0     1403
2.0      641
3.0       17
4.0        2
Name: prev_owner, dtype: int64

## Body Color

In [38]:
df['Body Color'].isnull().sum()

518

In [39]:
df['Body Color'].value_counts(dropna=False)

Black     3451
Grey      3157
White     2970
Silver    1535
Blue      1321
Red        843
NaN        518
Brown      263
Green      145
Beige       96
Yellow      48
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

In [40]:
df['Body Color']=df['Body Color'].fillna(method='ffill')

In [41]:
df.columns

Index(['brand_model', 'body_type', 'price', 'age', 'km', 'Fuel', 'Type',
       'prev_owner', 'Body Color', 'Paint Type', 'Gearing Type', 'hp',
       'Consumption_comb', 'Consumption_city', 'Consumption_country',
       'Comfort & Convenience', 'Entertainment & Media', 'Safety & Security',
       'Extras', 'Upholstery_type', 'Upholstery_color', 'vat', 'Warranty',
       'Body Color Original', 'Nr. of Doors', 'Nr. of Seats', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'CO2 Emission', 'Emission Class',
       'Gears'],
      dtype='object')

In [42]:
df['Body Color'].value_counts(dropna=False)

Black     3570
Grey      3245
White     3081
Silver    1586
Blue      1410
Red        878
Brown      272
Green      153
Beige      100
Yellow      51
Violet      19
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

## Paint Type

In [43]:
df['Paint Type'].value_counts(dropna=False)

Metallic       8999
NaN            5046
Uni/basic       325
Perl effect       6
Name: Paint Type, dtype: int64

In [44]:
df['Paint Type']=df['Paint Type'].fillna(method='ffill')

## Gearing Type

In [45]:
df['Gearing Type'].value_counts(dropna=False)

Manual            7304
Automatic         6607
Semi-automatic     465
Name: Gearing Type, dtype: int64

In [46]:
df['Gearing Type'].isnull().sum()

0

## hp

In [47]:
df['hp'].isnull().sum()

63

In [48]:
df['hp'].value_counts(dropna=False)

85.0     2297
66.0     1983
81.0     1250
100.0    1228
110.0    1028
70.0      834
125.0     667
51.0      609
55.0      471
118.0     459
92.0      395
121.0     384
77.0      330
147.0     328
54.0      246
103.0     215
56.0      213
87.0      187
165.0     176
88.0      162
60.0      160
162.0      80
96.0       70
NaN        63
71.0       57
74.0       55
154.0      39
67.0       34
101.0      31
119.0      30
122.0      29
135.0      22
52.0       21
82.0       20
1.0        20
78.0       20
146.0      18
294.0      18
141.0      16
104.0       8
120.0       8
191.0       7
117.0       6
112.0       6
184.0       5
57.0        4
65.0        4
155.0       4
76.0        4
90.0        4
168.0       3
98.0        3
149.0       3
80.0        3
93.0        3
53.0        2
86.0        2
140.0       2
150.0       2
228.0       2
270.0       2
143.0       2
167.0       2
40.0        2
89.0        2
127.0       2
123.0       1
75.0        1
115.0       1
195.0       1
132.0       1
163.0       1
84.0        1
4.0         1
164.0       1
63.0        1
137.0       1
44.0        1
133.0       1
239.0       1
Name: hp, dtype: int64

In [49]:
df['hp']=df['hp'].fillna(df.groupby(['brand_model','body_type','Fuel'])['prev_owner'].transform(lambda x : x.mode()[0]))

In [50]:
df['hp'].isnull().sum()

0

## Comfort & Convenience

In [51]:
df['Comfort & Convenience'].isnull().sum()

731

In [52]:
df['Comfort & Convenience'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        731
Air conditioning, Electrical side mirrors, Hill Holder, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                      182
Air conditioning, Electrical side mirrors, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                   129
Air conditioning, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            113
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Start-stop system, Tinted windows                                                                                                                                                                                              1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating, Split rear seats, Start-stop system                                                                                                                  1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Light sensor, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                              1
Air conditioning, Cruise control, Electrical side mirrors, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows                                                                                                                                                                                                                                                                                                   1
Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof      1
Name: Comfort & Convenience, Length: 6199, dtype: int64

In [53]:
df.loc[df['Comfort & Convenience'].isnull()]

,brand_model,body_type,price,age,km,Fuel,Type,prev_owner,Body Color,Paint Type,Gearing Type,hp,Consumption_comb,Consumption_city,Consumption_country,Comfort & Convenience,Entertainment & Media,Safety & Security,Extras,Upholstery_type,Upholstery_color,vat,Warranty,Body Color Original,Nr. of Doors,Nr. of Seats,Displacement,Cylinders,Weight,Drive chain,CO2 Emission,Emission Class,Gears
9,Audi A1,Sedans,17990,2.0,16103.0,Benzine,Used,1.0,White,Metallic,Automatic,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Blanc,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0
30,Audi A1,Compact,11290,3.0,38400.0,Diesel,Used,1.0,Black,Metallic,Manual,66.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,Negro,5.0,5.0,1422.0,3.0,1195.0,front,NaN,NaN,5.0
53,Audi A1,Compact,11100,3.0,111670.0,Diesel,Used,1.0,Black,Metallic,Manual,85.0,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,Negro,5.0,5.0,1598.0,4.0,1250.0,front,NaN,NaN,5.0
165,Audi A1,Sedans,17500,2.0,15000.0,Benzine,Used,1.0,Blue,Metallic,Automatic,70.0,4.4,5.4,3.8,NaN,NaN,NaN,Alloy wheels,NaN,NaN,NaN,NaN,NaN,5.0,4.0,NaN,3.0,1165.0,NaN,102.0,Euro 6,7.0
188,Audi A1,Compact,17900,3.0,11300.0,Diesel,Used,1.0,Grey,Metallic,Automatic,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,Gris Metalizado,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14258,Renault Espace,Van,33990,1.0,10803.0,Diesel,Used,1.0,Grey,Metallic,Automatic,1.0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VAT deductible,12.0,gris,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14270,Renault Espace,Van,44500,0.0,9000.0,Diesel,Used,1.0,Blue,Metallic,Automatic,147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bleu,5.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14271,Renault Espace,Compact,43000,0.0,1000.0,Diesel,Used,1.0,Black,Metallic,Automatic,147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,Negro Amatista (metalizado esp,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
14317,Renault Espace,Van,43911,0.0,NaN,Diesel,New,0.0,Black,Metallic,Automatic,147.0,5.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,1997.0,4.0,1659.0,front,NaN,NaN,6.0
14327,Renault Espace,Van,43315,0.0,NaN,Benzine,New,0.0,White,Metallic,Automatic,165.0,6.0,8.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,1798.0,4.0,1609.0,front,NaN,NaN,7.0

In [54]:
df['Comfort & Convenience']=df['Comfort & Convenience'].fillna(df['Comfort & Convenience'].mode()[0])

In [55]:
df['Comfort & Convenience'].isnull().sum()

0

## Entertainment & Media

In [56]:
df['Entertainment & Media'].isnull().sum()

1115

In [57]:
df['Entertainment & Media']=df['Entertainment & Media'].fillna(df['Entertainment & Media'].mode()[0])

## Safety & Security

In [58]:
df['Safety & Security'].isnull().sum()

770

In [59]:
df['Safety & Security']=df['Safety & Security'].fillna(df.groupby(['brand_model','body_type'])['Safety & Security'].transform(lambda x : x.mode()[0]))

In [60]:
df['Safety & Security'].isnull().sum()

0

## Extras

In [61]:
df['Extras'].isnull().sum()

2520

In [62]:
df['Extras']=df['Extras'].fillna(df.groupby(['brand_model'])['Extras'].transform(lambda x : x.mode()[0]))

In [63]:
df['Extras'].isnull().sum()

0

## Upholstery_type and Upholstery_color

In [64]:
df['Upholstery_type'].isnull().sum()

3861

In [65]:
df['Upholstery_type']=df['Upholstery_type'].fillna(df.groupby(['brand_model'])['Upholstery_type'].transform(lambda x : x.mode()[0]))

In [66]:
df['Upholstery_type'].isnull().sum()

0

In [67]:
df['Upholstery_color'].isnull().sum()

4577

In [68]:
df['Upholstery_color']=df['Upholstery_color'].fillna(df.groupby(['brand_model','body_type'])['Upholstery_type'].transform(lambda x : x.mode()[0]))

In [69]:
df['Upholstery_color'].isnull().sum()

0

## vat

In [70]:
df['vat'].isnull().sum()

3966

In [71]:
df['vat'].value_counts(dropna=False)

VAT deductible      9985
NaN                 3966
Price negotiable     425
Name: vat, dtype: int64

In [72]:
df['vat']=df['vat'].replace(np.nan,'VAT undeductible')

In [73]:
df['vat'].value_counts(dropna=False)

VAT deductible      9985
VAT undeductible    3966
Price negotiable     425
Name: vat, dtype: int64

## Warranty

In [74]:
df['Warranty'].value_counts(dropna=False)

NaN     10100
12.0     2224
24.0     1032
60.0      391
36.0      184
48.0      133
6.0       125
72.0       59
3.0        33
23.0       11
18.0       10
20.0        7
25.0        6
2.0         5
50.0        4
26.0        4
16.0        4
4.0         3
1.0         3
19.0        3
34.0        3
13.0        3
28.0        2
22.0        2
14.0        2
11.0        2
46.0        2
21.0        2
9.0         2
17.0        2
45.0        2
33.0        1
40.0        1
65.0        1
10.0        1
15.0        1
7.0         1
8.0         1
56.0        1
49.0        1
47.0        1
30.0        1
Name: Warranty, dtype: int64

In [75]:
df.loc[df['Warranty'].notna()][['brand_model','age','Warranty']].iloc[:50]

    brand_model  age  Warranty
8       Audi A1  3.0      12.0
9       Audi A1  2.0       3.0
13      Audi A1  3.0      12.0
15      Audi A1  3.0      12.0
18      Audi A1  3.0       6.0
20      Audi A1  2.0      12.0
21      Audi A1  3.0      12.0
30      Audi A1  3.0      12.0
31      Audi A1  3.0      12.0
33      Audi A1  3.0      12.0
40      Audi A1  3.0      12.0
47      Audi A1  3.0      12.0
49      Audi A1  3.0      12.0
53      Audi A1  3.0      12.0
60      Audi A1  3.0      12.0
61      Audi A1  3.0      12.0
65      Audi A1  3.0       6.0
66      Audi A1  2.0      12.0
67      Audi A1  1.0      24.0
69      Audi A1  1.0      12.0
70      Audi A1  2.0      24.0
72      Audi A1  2.0      12.0
77      Audi A1  3.0      12.0
81      Audi A1  1.0      50.0
82      Audi A1  3.0      12.0
91      Audi A1  1.0      50.0
93      Audi A1  2.0       6.0
95      Audi A1  1.0      48.0
96      Audi A1  1.0      12.0
97      Audi A1  1.0      12.0
99      Audi A1  1.0      48.0
100     Audi A1  1.0      48.0
101     Audi A1  1.0      12.0
102     Audi A1  1.0      48.0
106     Audi A1  1.0      48.0
111     Audi A1  1.0      24.0
117     Audi A1  1.0      24.0
129     Audi A1  1.0      48.0
132     Audi A1  3.0       6.0
137     Audi A1  2.0      24.0
139     Audi A1  1.0      12.0
142     Audi A1  1.0      36.0
147     Audi A1  2.0      12.0
155     Audi A1  3.0      12.0
157     Audi A1  1.0      20.0
162     Audi A1  3.0      12.0
164     Audi A1  3.0      12.0
168     Audi A1  2.0      12.0
171     Audi A1  2.0      36.0
173     Audi A1  2.0      24.0

In [76]:
df.drop(columns='Warranty',inplace=True)
##there should be a relation between warranty and age but it doesn't and the data doesn't make sense.
##because of this we dropped

## Body Color Original

In [77]:
df['Body Color Original'].value_counts(dropna=False)

NaN                              3229
Onyx Schwarz                      332
Mythosschwarz Metallic            223
Brillantschwarz                   204
Quarz Grau                        199
                                 ...
silbergrau met.                     1
diamant-blau                        1
SchneeWeiss/SummitWhite             1
Karbonschwarz Metallic              1
Perlmutt-Weiß Metallic (Weiß)       1
Name: Body Color Original, Length: 1915, dtype: int64

In [78]:
##According to my research 'Body Color Original' has no effect on cars price because of that we can drop this column.
df.drop(columns='Body Color Original',inplace=True)

## Nr. of Doors

In [79]:
df['Nr. of Doors'].value_counts(dropna=False)

5.0    10477
4.0     2813
3.0      755
2.0      194
NaN      135
1.0        1
7.0        1
Name: Nr. of Doors, dtype: int64

In [80]:
df['Nr. of Doors']=df['Nr. of Doors'].fillna(df.groupby(['body_type'])['Nr. of Doors'].transform(lambda x: x.mode()[0]))

In [81]:
df['Nr. of Doors'].value_counts(dropna=False)

5.0    10612
4.0     2813
3.0      755
2.0      194
1.0        1
7.0        1
Name: Nr. of Doors, dtype: int64

## Nr. of Seats

In [82]:
df['Nr. of Seats'].value_counts(dropna=False)

5.0    12082
4.0     1074
NaN      819
7.0      311
2.0       87
6.0        2
3.0        1
Name: Nr. of Seats, dtype: int64

In [83]:
df['Nr. of Seats']=df['Nr. of Seats'].fillna(df.groupby(['body_type'])['Nr. of Seats'].transform(lambda x: x.mode()[0]))

## Cylinders

In [84]:
df['Cylinders'].value_counts(dropna=False)

4.0    7406
NaN    4974
3.0    1966
5.0      22
6.0       3
8.0       2
2.0       2
1.0       1
Name: Cylinders, dtype: int64

In [85]:
df['Cylinders']=df['Cylinders'].fillna(method='ffill')

## Drive chain

In [86]:
df['Drive chain'].value_counts(dropna=False)

front    7967
NaN      6254
4WD       151
rear        4
Name: Drive chain, dtype: int64

In [87]:
df['Drive chain']=df['Drive chain'].fillna(df.groupby(['body_type'])['Drive chain'].transform(lambda x: x.mode()[0]))

In [88]:
df['Drive chain'].value_counts(dropna=False)

front    14179
4WD        193
rear         4
Name: Drive chain, dtype: int64

## Emission Class

In [89]:
df[ 'Emission Class'].value_counts(dropna=False)

Euro 6    11021
NaN        3237
Euro 5       78
Euro 4       40
Name: Emission Class, dtype: int64

In [90]:
df['Emission Class']=df['Emission Class'].fillna(df.groupby(['body_type'])['Emission Class'].transform(lambda x: x.mode()[0]))

In [91]:
df[ 'Emission Class'].value_counts(dropna=False)

Euro 6    14248
Euro 5       78
Euro 4       50
Name: Emission Class, dtype: int64

In [92]:
df.drop(columns='Emission Class',inplace=True)
##Almost all the column has the same data, so this column  has no effect on the program
##so we dropped it

## Gears

In [93]:
df['Gears'].value_counts(dropna=False)

6.0     5311
NaN     4158
5.0     2952
7.0     1745
8.0      199
9.0        4
1.0        2
3.0        2
2.0        1
50.0       1
4.0        1
Name: Gears, dtype: int64

In [94]:
df.columns

Index(['brand_model', 'body_type', 'price', 'age', 'km', 'Fuel', 'Type',
       'prev_owner', 'Body Color', 'Paint Type', 'Gearing Type', 'hp',
       'Consumption_comb', 'Consumption_city', 'Consumption_country',
       'Comfort & Convenience', 'Entertainment & Media', 'Safety & Security',
       'Extras', 'Upholstery_type', 'Upholstery_color', 'vat', 'Nr. of Doors',
       'Nr. of Seats', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'CO2 Emission', 'Gears'],
      dtype='object')

In [95]:
df['Gears']=df['Gears'].fillna(df.groupby(['body_type','Gearing Type',])['Gears'].transform(lambda x: x.mode()[0]))

In [96]:
df['Gears'].value_counts(dropna=False)

6.0     7312
5.0     4270
7.0     2584
8.0      199
9.0        4
1.0        2
3.0        2
2.0        1
50.0       1
4.0        1
Name: Gears, dtype: int64

# After this point, we will fill the missing data in the numerical categories

In [97]:
df.isnull().sum()

brand_model                 0
body_type                   0
price                       0
age                         0
km                        892
Fuel                        0
Type                        0
prev_owner                  0
Body Color                  0
Paint Type                  0
Gearing Type                0
hp                          0
Consumption_comb         1821
Consumption_city         2267
Consumption_country      2219
Comfort & Convenience       0
Entertainment & Media       0
Safety & Security           0
Extras                      0
Upholstery_type             0
Upholstery_color            0
vat                         0
Nr. of Doors                0
Nr. of Seats                0
Displacement             3016
Cylinders                   0
Weight                   6306
Drive chain                 0
CO2 Emission             2204
Gears                       0
dtype: int64

## km

In [98]:
df['km'].isnull().sum()

892

In [99]:
df['km'].value_counts(dropna=False)

NaN       892
10.0      818
1.0       308
5.0       139
50.0      126
         ...
3339.0      1
1988.0      1
90.0        1
506.0       1
57.0        1
Name: km, Length: 6674, dtype: int64

In [100]:
df['body_type'].value_counts()

Sedans           7221
Station wagon    3305
Compact          2685
Van               719
Other             272
Transporter        86
Off-Road           56
Coupe              24
Convertible         8
Name: body_type, dtype: int64

In [101]:
df['km']=df['km'].fillna(df.groupby(['body_type','age'])['km'].transform(lambda x : x.mean()))

In [102]:
df['km'].isnull().sum()

0

In [103]:
# When we are filling the missing values in this column, we just looked at the 'body type' and 'age' 
## because for cars these are more important than brand and they determine how many km we use.

In [104]:
df.isnull().sum()

brand_model                 0
body_type                   0
price                       0
age                         0
km                          0
Fuel                        0
Type                        0
prev_owner                  0
Body Color                  0
Paint Type                  0
Gearing Type                0
hp                          0
Consumption_comb         1821
Consumption_city         2267
Consumption_country      2219
Comfort & Convenience       0
Entertainment & Media       0
Safety & Security           0
Extras                      0
Upholstery_type             0
Upholstery_color            0
vat                         0
Nr. of Doors                0
Nr. of Seats                0
Displacement             3016
Cylinders                   0
Weight                   6306
Drive chain                 0
CO2 Emission             2204
Gears                       0
dtype: int64

## Consumption_comb , Consumption_city and Consumption_country

In [105]:
df['Consumption_comb'].isnull().sum()

1821

In [106]:
df['Consumption_city'].isnull().sum()

2267

In [107]:
df['Consumption_country'].isnull().sum()

2219

In [108]:
df['Consumption_comb'].value_counts(dropna=False)

NaN     1821
5.0      999
4.0      957
3.9      683
5.4      625
4.4      605
5.6      585
4.7      577
3.8      556
4.8      513
4.5      507
6.0      489
4.2      424
5.2      413
4.6      377
5.3      357
4.9      339
3.7      334
5.7      333
5.5      329
5.9      309
4.3      281
3.5      242
3.3      220
6.2      212
3.6      191
6.3      155
6.6      147
5.8      145
3.4      104
6.8      103
6.4       74
3.0       71
7.4       58
7.0       48
6.7       40
6.5       30
3.2       25
6.9       24
8.3       20
7.6       12
8.0        7
7.2        6
7.8        4
8.6        4
5.1        3
8.7        3
38.0       2
7.9        2
7.3        2
7.5        1
43.0       1
9.0        1
55.0       1
54.0       1
2.0        1
32.0       1
33.0       1
46.0       1
Name: Consumption_comb, dtype: int64

In [109]:
df['Consumption_city'].value_counts(dropna=False)

NaN     2267
5.0     1073
5.8      578
4.0      568
4.5      548
4.3      492
7.2      409
7.3      401
7.0      387
4.6      382
7.8      380
6.8      375
5.7      362
5.9      342
6.0      342
5.2      334
6.6      319
5.4      315
4.2      308
6.7      304
4.7      268
6.3      265
7.5      250
3.9      242
6.2      209
5.5      207
7.6      201
7.7      199
6.9      195
6.5      153
7.4      151
3.5      149
8.2      139
8.0      137
8.7      124
4.4      102
7.9      101
5.3      101
5.6      100
6.4       92
4.8       60
4.9       57
8.3       41
8.6       41
8.5       39
9.6       38
9.2       32
3.7       30
3.8       26
3.0       26
3.4       17
9.9       14
9.4       14
3.3       13
2.0       12
9.0       11
8.4        7
9.8        5
8.9        4
62.0       4
9.5        3
8.8        2
45.0       2
43.0       2
3.6        2
66.0       1
64.0       1
9.7        1
Name: Consumption_city, dtype: int64

In [110]:
df['Consumption_country'].value_counts(dropna=False)

NaN     2219
4.0     1082
4.2     1045
3.7     1000
4.4      803
4.5      726
3.8      724
3.9      719
4.7      579
3.5      490
3.0      488
3.6      476
4.6      473
4.9      452
3.3      423
4.3      418
3.4      327
4.8      325
5.0      302
5.3      268
5.4      213
3.2      158
5.7      153
5.6      150
5.2      112
6.3       47
6.0       39
5.5       36
5.8       30
6.6       19
2.9       16
6.4       13
2.8        9
7.7        7
7.0        6
7.3        4
6.5        4
44.0       4
7.8        2
5.9        2
35.0       2
6.7        2
6.9        2
37.0       2
2.0        1
8.0        1
8.6        1
7.6        1
42.0       1
Name: Consumption_country, dtype: int64

In [111]:
df.columns

Index(['brand_model', 'body_type', 'price', 'age', 'km', 'Fuel', 'Type',
       'prev_owner', 'Body Color', 'Paint Type', 'Gearing Type', 'hp',
       'Consumption_comb', 'Consumption_city', 'Consumption_country',
       'Comfort & Convenience', 'Entertainment & Media', 'Safety & Security',
       'Extras', 'Upholstery_type', 'Upholstery_color', 'vat', 'Nr. of Doors',
       'Nr. of Seats', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'CO2 Emission', 'Gears'],
      dtype='object')

In [112]:
df['Consumption_comb']=df['Consumption_comb'].fillna(df.groupby(['brand_model', 'body_type'])['Consumption_comb'].transform('median'))

In [113]:
df['Consumption_city']=df['Consumption_city'].fillna(df.groupby(['brand_model', 'body_type'])['Consumption_city'].transform('median'))

In [114]:
df['Consumption_country']=df['Consumption_country'].fillna(df.groupby(['brand_model', 'body_type'])['Consumption_country'].transform('median'))

##### We filled missing values in this column with median because there are some absurdly high values in the data

In [115]:
df['Consumption_comb'].isnull().sum()

41

In [116]:
df['Consumption_city'].isnull().sum()

41

In [117]:
df['Consumption_country'].isnull().sum()

41

###### there are still some missing data , to fill them we will change the parameter of groupby.

In [118]:
df['Consumption_comb']=df['Consumption_comb'].fillna(df.groupby(['body_type'])['Consumption_comb'].transform('median'))

In [119]:
df['Consumption_city']=df['Consumption_city'].fillna(df.groupby(['body_type'])['Consumption_city'].transform('median'))

In [120]:
df['Consumption_country']=df['Consumption_country'].fillna(df.groupby(['body_type'])['Consumption_country'].transform('median'))

In [121]:
df['Consumption_comb'].isnull().sum()

0

In [122]:
df['Consumption_city'].isnull().sum()

0

In [123]:
df['Consumption_country'].isnull().sum()

0

In [124]:
df.isnull().sum()

brand_model                 0
body_type                   0
price                       0
age                         0
km                          0
Fuel                        0
Type                        0
prev_owner                  0
Body Color                  0
Paint Type                  0
Gearing Type                0
hp                          0
Consumption_comb            0
Consumption_city            0
Consumption_country         0
Comfort & Convenience       0
Entertainment & Media       0
Safety & Security           0
Extras                      0
Upholstery_type             0
Upholstery_color            0
vat                         0
Nr. of Doors                0
Nr. of Seats                0
Displacement             3016
Cylinders                   0
Weight                   6306
Drive chain                 0
CO2 Emission             2204
Gears                       0
dtype: int64

## Displacement

In [125]:
df['Displacement'].isnull().sum()

3016

In [126]:
df['Displacement'].value_counts(dropna=False)

1598.0    4385
NaN       3016
1398.0    1258
1399.0     672
1956.0     635
1229.0     602
1490.0     527
1461.0     481
1422.0     435
1197.0     303
1968.0     298
1395.0     262
1149.0     257
1798.0     193
1498.0     156
1618.0     140
1600.0     123
1248.0      99
1997.0      93
1400.0      90
1364.0      84
1500.0      47
2000.0      46
1000.0      36
1998.0      25
2480.0      20
1984.0      18
1200.0      17
1397.0      11
1499.0       5
1596.0       4
1396.0       3
1199.0       3
1599.0       3
1495.0       2
1589.0       2
1300.0       2
1995.0       1
1533.0       1
6000.0       1
1100.0       1
1333.0       1
1496.0       1
1580.0       1
1195.0       1
1856.0       1
2967.0       1
1198.0       1
1390.0       1
1369.0       1
1350.0       1
1239.0       1
1568.0       1
1368.0       1
5898.0       1
1686.0       1
1696.0       1
1896.0       1
1584.0       1
1800.0       1
Name: Displacement, dtype: int64

In [127]:
df['Displacement']=df['Displacement'].fillna(df.groupby(['brand_model', 'body_type','Fuel'])['Displacement'].transform('median'))

In [128]:
df['Displacement'].isnull().sum()

16

In [129]:
df['Displacement']=df['Displacement'].fillna(df.groupby(['brand_model', 'body_type'])['Displacement'].transform('median'))

In [130]:
df['Displacement'].isnull().sum()

2

In [131]:
df['Displacement']=df['Displacement'].fillna(df.groupby(['body_type'])['Displacement'].transform('median'))

In [132]:
df['Displacement'].isnull().sum()

0

In [133]:
df.isnull().sum()

brand_model                 0
body_type                   0
price                       0
age                         0
km                          0
Fuel                        0
Type                        0
prev_owner                  0
Body Color                  0
Paint Type                  0
Gearing Type                0
hp                          0
Consumption_comb            0
Consumption_city            0
Consumption_country         0
Comfort & Convenience       0
Entertainment & Media       0
Safety & Security           0
Extras                      0
Upholstery_type             0
Upholstery_color            0
vat                         0
Nr. of Doors                0
Nr. of Seats                0
Displacement                0
Cylinders                   0
Weight                   6306
Drive chain                 0
CO2 Emission             2204
Gears                       0
dtype: int64

## Weight

In [134]:
df['Weight'].isnull().sum()

6306

In [135]:
df['Weight'].value_counts(dropna=False)

NaN       6306
1163.0     515
1360.0     320
1165.0     242
1335.0     221
          ...
1213.0       1
1960.0       1
1258.0       1
1167.0       1
2037.0       1
Name: Weight, Length: 435, dtype: int64

In [136]:
df['Weight'].max()

2471.0

In [137]:
df['Weight'].min()

1.0

In [138]:
df['Weight'].describe()

count    8070.000000
mean     1354.441016
std       223.792004
min         1.000000
25%      1173.000000
50%      1293.000000
75%      1487.000000
max      2471.000000
Name: Weight, dtype: float64

In [139]:
df.groupby(['brand_model', 'body_type'])['Weight'].describe()

                               count         mean         std     min  \
brand_model    body_type
Audi A1        Compact         457.0  1173.450766  103.063568   102.0
               Coupe             1.0  1010.000000         NaN  1010.0
               Other             4.0  1212.500000   36.628768  1165.0
               Sedans          882.0  1257.359410  175.323942  1035.0
               Station wagon    14.0  1228.571429  113.466847  1125.0
               Van               0.0          NaN         NaN     NaN
Audi A2        Off-Road          0.0          NaN         NaN     NaN
Audi A3        Compact         123.0  1321.121951  180.387951  1155.0
               Convertible       7.0  1519.285714  129.113276  1355.0
               Coupe             3.0  1260.000000   17.320508  1250.0
               Other             3.0  1318.333333  100.166528  1205.0
               Sedans         1470.0  1401.277551  177.179503  1041.0
               Station wagon   113.0  1318.362832   72.430516  1180.0
Opel Astra     Compact          76.0  1284.644737   77.816657  1163.0
               Coupe             1.0  1350.000000         NaN  1350.0
               Off-Road          1.0  1340.000000         NaN  1340.0
               Other            54.0  1325.407407   51.711653  1263.0
               Sedans          483.0  1329.515528   87.117065  1188.0
               Station wagon   558.0  1405.030466  132.526536  1178.0
Opel Corsa     Compact         423.0  1172.078014   98.415798     1.0
               Coupe            10.0  1203.000000  161.726106  1066.0
               Off-Road          3.0  1187.666667   42.723920  1163.0
               Other            78.0  1169.333333   18.842937  1141.0
               Sedans          617.0  1172.891410   78.838748  1086.0
               Transporter       6.0  1181.000000   19.718012  1163.0
               Van               1.0  1124.000000         NaN  1124.0
Opel Insignia  Compact          19.0  1466.315789   69.121513  1372.0
               Coupe             0.0          NaN         NaN     NaN
               Off-Road          6.0  1508.000000   51.439285  1487.0
               Other            39.0  1524.384615   37.475336  1472.0
               Sedans          423.0  1547.174941  165.233664  1341.0
               Station wagon   722.0  1629.717452  152.680017     1.0
               Van               0.0          NaN         NaN     NaN
Renault Clio   Compact         181.0  1130.701657   76.879339  1052.0
               Coupe             0.0          NaN         NaN     NaN
               Off-Road          2.0  1163.500000    2.121320  1162.0
               Other            24.0  1183.041667   94.939559  1090.0
               Sedans          569.0  1177.449912  135.352154   900.0
               Station wagon   178.0  1188.303371   74.998517   980.0
               Transporter       7.0  1172.142857   51.349874  1087.0
               Van               0.0          NaN         NaN     NaN
Renault Duster Off-Road          0.0          NaN         NaN     NaN
Renault Espace Compact           2.0  1690.500000   98.287843  1621.0
               Coupe             0.0          NaN         NaN     NaN
               Off-Road          4.0  1734.000000    0.000000  1734.0
               Other             4.0  1715.500000   74.289972  1635.0
               Sedans            2.0  1864.500000  253.851334  1685.0
               Station wagon    53.0  1706.735849   58.622374  1609.0
               Transporter      49.0  1948.938776  305.564874  1659.0
               Van             398.0  1709.462312  114.935870  1515.0

                                  25%     50%      75%     max
brand_model    body_type
Audi A1        Compact        1135.00  1180.0  1200.00  1792.0
               Coupe          1010.00  1010.0  1010.00  1010.0
               Other          1195.00  1217.5  1235.00  1250.0
               Sedans         1144.00  1195.0  1255.00  1720.0
               Station wagon  1195.00  1205.0  1215.00  1580.0
               Van                NaN     NaN      NaN     NaN
Audi A2        Off-Road           NaN     NaN      NaN     NaN
Audi A3        Compact        1255.00  1280.0  1300.00  1890.0
               Convertible    1415.00  1555.0  1605.00  1685.0
               Coupe          1250.00  1250.0  1265.00  1280.0
               Other          1280.00  1355.0  1375.00  1395.0
               Sedans         1310.00  1355.0  1380.00  1905.0
               Station wagon  1265.00  1335.0  1365.00  1585.0
Opel Astra     Compact        1235.00  1278.0  1350.00  1503.0
               Coupe          1350.00  1350.0  1350.00  1350.0
               Off-Road       1340.00  1340.0  1340.00  1340.0
               Other          1278.00  1350.0  1360.00  1503.0
               Sedans         1273.00  1308.0  1360.00  1900.0
               Station wagon  1328.00  1393.0  1425.00  1985.0
Opel Corsa     Compact        1141.00  1163.0  1199.00  1665.0
               Coupe          1120.00  1159.5  1199.00  1635.0
               Off-Road       1163.00  1163.0  1200.00  1237.0
               Other          1163.00  1163.0  1163.00  1237.0
               Sedans         1162.00  1163.0  1173.00  1960.0
               Transporter    1163.00  1181.0  1199.00  1199.0
               Van            1124.00  1124.0  1124.00  1124.0
Opel Insignia  Compact        1422.00  1472.0  1503.00  1613.0
               Coupe              NaN     NaN      NaN     NaN
               Off-Road       1487.00  1487.0  1487.00  1613.0
               Other          1503.00  1503.0  1571.00  1623.0
               Sedans         1456.00  1503.0  1543.00  2355.0
               Station wagon  1522.00  1623.0  1701.00  2450.0
               Van                NaN     NaN      NaN     NaN
Renault Clio   Compact        1071.00  1100.0  1165.00  1686.0
               Coupe              NaN     NaN      NaN     NaN
               Off-Road       1162.75  1163.5  1164.25  1165.0
               Other          1090.00  1187.0  1300.00  1300.0
               Sedans         1090.00  1162.0  1228.00  1717.0
               Station wagon  1141.00  1170.0  1258.75  1711.0
               Transporter    1138.50  1209.0  1209.00  1214.0
               Van                NaN     NaN      NaN     NaN
Renault Duster Off-Road           NaN     NaN      NaN     NaN
Renault Espace Compact        1655.75  1690.5  1725.25  1760.0
               Coupe              NaN     NaN      NaN     NaN
               Off-Road       1734.00  1734.0  1734.00  1734.0
               Other          1671.75  1709.0  1752.75  1809.0
               Sedans         1774.75  1864.5  1954.25  2044.0
               Station wagon  1684.00  1685.0  1734.00  1840.0
               Transporter    1734.00  1734.0  2353.00  2410.0
               Van            1659.00  1691.0  1734.00  2471.0

In [140]:
df['Weight'].isnull().sum()

6306

In [141]:
df['Weight']=df['Weight'].fillna(df.groupby(['brand_model', 'body_type'])[ 'Weight'].transform(lambda x: x.mean()))

In [142]:
df['Weight'].isnull().sum()

42

In [143]:
df['Weight']=df['Weight'].fillna(df.groupby(['body_type'])[ 'Weight'].transform(lambda x: x.mean()))

In [144]:
df['Weight'].isnull().sum()

0

In [145]:
df.isnull().sum()

brand_model                 0
body_type                   0
price                       0
age                         0
km                          0
Fuel                        0
Type                        0
prev_owner                  0
Body Color                  0
Paint Type                  0
Gearing Type                0
hp                          0
Consumption_comb            0
Consumption_city            0
Consumption_country         0
Comfort & Convenience       0
Entertainment & Media       0
Safety & Security           0
Extras                      0
Upholstery_type             0
Upholstery_color            0
vat                         0
Nr. of Doors                0
Nr. of Seats                0
Displacement                0
Cylinders                   0
Weight                      0
Drive chain                 0
CO2 Emission             2204
Gears                       0
dtype: int64

## CO2 Emission

In [146]:
df['CO2 Emission'].isnull().sum()

2204

In [147]:
df['CO2 Emission'].value_counts(dropna=False)

NaN      2204
120.0     650
97.0      504
99.0      477
102.0     468
         ...
165.0       1
80.0        1
160.0       1
990.0       1
193.0       1
Name: CO2 Emission, Length: 120, dtype: int64

In [148]:
df.groupby(['brand_model', 'body_type'])['CO2 Emission'].describe()

                               count        mean        std    min     25%  \
brand_model    body_type
Audi A1        Compact         814.0  105.840295  10.569354   90.0  102.00
               Coupe             1.0   97.000000        NaN   97.0   97.00
               Other             8.0  107.375000  11.710038   97.0   99.00
               Sedans         1253.0  103.150838   7.104902   89.0   97.00
               Station wagon    20.0  103.800000   6.501822   91.0  101.00
               Van               0.0         NaN        NaN    NaN     NaN
Audi A2        Off-Road          0.0         NaN        NaN    NaN     NaN
Audi A3        Compact          97.0  106.216495  10.716252   89.0  101.00
               Convertible       7.0  123.857143  16.727508   99.0  116.50
               Coupe             4.0  100.750000   3.500000   99.0   99.00
               Other             8.0  108.750000   7.814821   99.0  104.25
               Sedans         2105.0  108.922565  22.214864    1.0  103.00
               Station wagon   255.0  110.549020   8.280785   88.0  105.00
Opel Astra     Compact          63.0  107.888889  15.181813   88.0   97.00
               Coupe             2.0  144.000000  14.142136  134.0  139.00
               Off-Road          1.0  128.000000        NaN  128.0  128.00
               Other            47.0  112.085106  13.139436   95.0   97.00
               Sedans          831.0  115.607702  17.121047    0.0  102.00
               Station wagon   974.0  115.791581  17.232426   12.0   99.00
Opel Corsa     Compact        1012.0  130.466403  13.772629   12.0  123.00
               Coupe            10.0  112.400000  14.214234   82.0  104.00
               Off-Road          3.0  119.666667   0.577350  119.0  119.50
               Other            75.0  123.693333   9.566232  100.0  120.00
               Sedans          711.0  125.666667  11.667941   82.0  120.00
               Transporter       6.0  112.166667  12.967909  100.0  100.25
               Van               0.0         NaN        NaN    NaN     NaN
Opel Insignia  Compact          17.0  128.529412  15.914293   99.0  114.00
               Coupe             0.0         NaN        NaN    NaN     NaN
               Off-Road          3.0  154.666667  20.647841  131.0  147.50
               Other            38.0  112.315789  21.129082    5.0  114.00
               Sedans          640.0  131.612500  17.884515   13.0  120.75
               Station wagon  1264.0  138.039557  18.334924    0.0  131.75
               Van               0.0         NaN        NaN    NaN     NaN
Renault Clio   Compact         288.0  116.274306  13.229854   82.0  113.00
               Coupe             1.0  140.000000        NaN  140.0  140.00
               Off-Road          1.0  125.000000        NaN  125.0  125.00
               Other            36.0  115.777778  12.073847   85.0  114.00
               Sedans          656.0  111.160061  17.642514   82.0   92.00
               Station wagon   215.0  109.469767  18.458283   82.0   86.00
               Transporter       9.0   99.333333  19.487175   85.0   85.00
               Van               0.0         NaN        NaN    NaN     NaN
Renault Duster Off-Road         33.0  171.666667  34.375379    1.0  150.00
Renault Espace Compact           3.0  137.666667  16.623277  120.0  130.00
               Coupe             0.0         NaN        NaN    NaN     NaN
               Off-Road          5.0  120.600000   1.341641  120.0  120.00
               Other             5.0  133.600000  21.090282  120.0  120.00
               Sedans            8.0  136.000000  18.935982  116.0  123.00
               Station wagon    58.0  136.482759  16.475651  116.0  123.00
               Transporter      50.0  120.940000   5.519576  116.0  120.00
               Van             535.0  134.499065  18.347751  116.0  120.00

                                50%     75%    max
brand_model    body_type
Audi A1        Compact        104.0  110.00  331.0
               Coupe           97.0   97.00   97.0
               Other          107.0  108.00  134.0
               Sedans         102.0  108.00  138.0
               Station wagon  102.0  109.00  118.0
               Van              NaN     NaN    NaN
Audi A2        Off-Road         NaN     NaN    NaN
Audi A3        Compact        106.0  108.00  189.0
               Convertible    124.0  129.00  153.0
               Coupe           99.0  100.75  106.0
               Other          108.5  112.75  122.0
               Sedans         106.0  114.00  990.0
               Station wagon  110.0  114.00  189.0
Opel Astra     Compact        104.0  117.00  151.0
               Coupe          144.0  149.00  154.0
               Off-Road       128.0  128.00  128.0
               Other          117.0  117.00  146.0
               Sedans         116.0  128.00  172.0
               Station wagon  119.0  127.00  174.0
Opel Corsa     Compact        131.0  140.00  170.0
               Coupe          116.5  124.00  124.0
               Off-Road       120.0  120.00  120.0
               Other          120.0  128.00  165.0
               Sedans         124.0  130.00  158.0
               Transporter    112.5  124.00  124.0
               Van              NaN     NaN    NaN
Opel Insignia  Compact        130.0  140.00  153.0
               Coupe            NaN     NaN    NaN
               Off-Road       164.0  166.50  169.0
               Other          114.0  114.00  150.0
               Sedans         134.0  141.00  197.0
               Station wagon  139.5  147.00  253.0
               Van              NaN     NaN    NaN
Renault Clio   Compact        120.0  120.00  140.0
               Coupe          140.0  140.00  140.0
               Off-Road       125.0  125.00  125.0
               Other          120.0  126.00  127.0
               Sedans         113.0  127.00  140.0
               Station wagon  118.0  127.00  140.0
               Transporter     85.0  118.00  128.0
               Van              NaN     NaN    NaN
Renault Duster Off-Road       186.0  186.00  186.0
Renault Espace Compact        140.0  146.50  153.0
               Coupe            NaN     NaN    NaN
               Off-Road       120.0  120.00  123.0
               Other          120.0  140.00  168.0
               Sedans         131.0  142.50  172.0
               Station wagon  139.0  153.00  168.0
               Transporter    120.0  120.00  140.0
               Van            123.0  152.00  194.0

In [149]:
df.columns

Index(['brand_model', 'body_type', 'price', 'age', 'km', 'Fuel', 'Type',
       'prev_owner', 'Body Color', 'Paint Type', 'Gearing Type', 'hp',
       'Consumption_comb', 'Consumption_city', 'Consumption_country',
       'Comfort & Convenience', 'Entertainment & Media', 'Safety & Security',
       'Extras', 'Upholstery_type', 'Upholstery_color', 'vat', 'Nr. of Doors',
       'Nr. of Seats', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'CO2 Emission', 'Gears'],
      dtype='object')

In [150]:
df['CO2 Emission']=df['CO2 Emission'].fillna(df.groupby(['brand_model', 'body_type'])['CO2 Emission'].transform('median'))

In [151]:
df['CO2 Emission'].isnull().sum()

8

In [152]:
df['CO2 Emission']=df['CO2 Emission'].fillna(df.groupby(['brand_model'])['CO2 Emission'].transform('median'))

In [153]:
df['CO2 Emission'].isnull().sum()

1

In [154]:
df['CO2 Emission']=df['CO2 Emission'].fillna(df['CO2 Emission'].median())

In [155]:
df['CO2 Emission'].isnull().sum()

0

In [156]:
df.isnull().sum()

brand_model              0
body_type                0
price                    0
age                      0
km                       0
Fuel                     0
Type                     0
prev_owner               0
Body Color               0
Paint Type               0
Gearing Type             0
hp                       0
Consumption_comb         0
Consumption_city         0
Consumption_country      0
Comfort & Convenience    0
Entertainment & Media    0
Safety & Security        0
Extras                   0
Upholstery_type          0
Upholstery_color         0
vat                      0
Nr. of Doors             0
Nr. of Seats             0
Displacement             0
Cylinders                0
Weight                   0
Drive chain              0
CO2 Emission             0
Gears                    0
dtype: int64

###### Dataset has been cleaned from all missing values

In [157]:
df.to_csv("missing_scout_auto.csv", index=False)