In [1]:
import pandas as pd
import numpy as np

In [2]:

df = pd.read_json("scout_car.json",lines=True)
df.head(5)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [4]:
df.isnull().sum()*100/len(df) #First of all, we learn the ratio of empty values in the columns.

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [5]:
df.drop(columns=['kW','Electricity consumption', 'Last Service Date', 'Other Fuel Types',    
                'Availability', 'Last Timing Belt Service Date', 'Available from'],inplace=True) 
##We dropped those colons from dataset,becaues they were almost completely empty.

In [6]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'Type', 'Previous Owners',
       'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Country version'],
      dtype='object')

# url

In [7]:
df['url'][0]

'https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e'

In [8]:
df.url.str.contains('autoscout24').sum() 
##All the data is from the same website and the url also specifies the model. 
##Since there is already a model column in the data, we dropped this column.

15919

In [9]:
df.drop(columns='url',inplace=True)

# make_model

In [10]:
df['make_model'].isnull().sum() #There is no missing data in this colomn.

0

In [11]:
df['make_model'].value_counts() 
## I decided that it would be more appropriate to divide this part into two as brands and models.

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [12]:
df['brand']=df['make_model'].str.split(' ').str[0]
df['model']=df['make_model'].str.split(' ').str[1]

In [13]:
df.drop(columns='make_model',inplace=True)##We have dropped this column because we have taken the necessary actions.

# short_description

In [14]:
df['short_description'].isnull().sum()

46

In [15]:
df.sample(20)['short_description']

5272                           Sedán 35 TDI S tronic 110kW
14199             1.5 DCI 90 CV ENERGY BUSINESS NAVIGATORE
8437              E 1.4 ON Easytr. *IntelliLink*Sitzh*PDC*
8391            E drive 1.4 AT OPC-Line *5 Jahre Garantie*
5190              SPB 30 TDI S tronic Business - Pra.66650
11686    B ST Edition CDTi Freispr., Navi, Parkpilot v+...
2566          Sportback 25 TFSI 95PS 5-Gang Navi Klima PDC
8631     E Selection 1.2 Klimaanlage Allwetterreifen ES...
12092                                Sports Tourer Edition
3649                        Sportback 2.5 TFSI RS3 quattro
12862       Sports Tourer Business Edition 2.0 CDTI EU6d-T
7249                                   K 1,4 Turbo Dynamic
10721                          2.0CDTI Excellence Aut. 170
614                       Sportback Sport 1.4 TFSI 125 PS,
9731     1.2 69cv B-COLOR - 5Porte - C.LEGA 16'' KM 35.152
4721               SB Design FULL LED Scheinwerfer MY2018!
6957                                     1.6 CDTI TEMP SHZ
14671                                          Life TCe 75
939               Adrenalin 1.0 TFSI 70kW (95CV) Sportback
6453     1,0 Turbo ecoflex Direct Injection Cool&Sound St.
Name: short_description, dtype: object

In [16]:
df.drop(columns='short_description',inplace=True)
##Although this column contains a lot of information, 
##we also drop this colon because the information is scattered, complex and repeated in other colons.

# body_type

In [17]:
df['body_type'].isnull().sum()

60

In [18]:
df['body_type'].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [19]:
df['body_type'].sample(20)
##Since there is no information pollution in this part, we do not make changes on it.

6497     Station wagon
52              Sedans
13699           Sedans
15532              Van
2060           Compact
9224           Compact
4876            Sedans
6020     Station wagon
8567           Compact
15387              Van
13714           Sedans
3433            Sedans
2009            Sedans
6170     Station wagon
538            Compact
14369           Sedans
14921         Off-Road
4577            Sedans
10907           Sedans
12887    Station wagon
Name: body_type, dtype: object

# price

In [20]:
df['price'].isnull().sum()
##There is no missing value

0

In [21]:
df['price'].sort_values()
## Even though there are some inconsistent numbers,data in this column is clean.

8594        13
8828       120
6066       255
8829       331
8827      4950
         ...
15828    64332
3587     64900
3649     67600
15826    68320
3648     74600
Name: price, Length: 15919, dtype: int64

# vat

In [22]:
df['vat'].isnull().sum()
## Almost 25% of the data is missing.

4513

In [23]:
df['vat'].value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [24]:
df.sample(20)['vat']
##Even though there are some missing,there is no need to take any action for now.

11270              None
2729               None
10504    VAT deductible
5202     VAT deductible
10311    VAT deductible
7922     VAT deductible
5364     VAT deductible
6939     VAT deductible
11747              None
10921              None
4651     VAT deductible
10906    VAT deductible
2529     VAT deductible
8183     VAT deductible
2586               None
15558    VAT deductible
7602     VAT deductible
8922     VAT deductible
14813    VAT deductible
14850    VAT deductible
Name: vat, dtype: object

# km

In [25]:
df['km'].isnull().sum()

0

In [26]:
df.sample(20)['km']

5312           1 km
8173          10 km
5109          10 km
13073     21,210 km
13466     49,178 km
12880          - km
269        9,998 km
231       25,000 km
8732      55,000 km
11267     14,069 km
7675         300 km
4570      19,440 km
4375     131,900 km
10330         10 km
3713      45,846 km
6399     229,500 km
11243     45,848 km
2143          10 km
13433     23,724 km
74         6,396 km
Name: km, dtype: object

In [27]:
df['km'].value_counts()

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [28]:
df['km']=df['km'].str.replace(',','').str.strip('km').str.strip('-').str.strip().replace(' ',np.nan)
##In this part, we have completely converted the data into numerical data by removing the redundancy.

# registration

In [29]:
df['registration'].isnull().sum()

0

In [30]:
df['registration'].value_counts()

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [31]:
df['registration']=df['registration'].str.extract('(\d{4})')
## With this code we got rid of months and made it more convenient to calculate age

In [32]:
df['registration']=df['registration'].replace('-/- ',np.nan)
## We regulated the missing values.

In [33]:
df['registration']=df['registration'].astype('float')
## We are changing data type so we can calculate the 'age'

In [34]:
df['age']=df['registration'].transform(lambda x: 2019-x)

In [35]:
df.drop(columns='registration',inplace=True)
## Since we have created the age column, we dropped the 'registration'

# prev_owner

In [36]:
df['prev_owner'].isnull().sum()

6828

In [37]:
df['prev_owner'].value_counts(dropna=False)
## There are a lot of missing value,however we will deal that problem later.

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [38]:
df['prev_owner']=df['prev_owner'].str.extract('(\d)')
## We turned object data to numerical data.

# hp

In [39]:
df['hp'].isnull().sum()

0

In [40]:
df['hp'].value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [41]:
df['hp'].str.contains('-').sum()
# there are some missing values but not much.

88

In [42]:
df['hp']=df['hp'].str.strip('kW').str.strip().replace('-',np.nan)
## We regulated data and changed the missing values.

# Type

In [43]:
df.iloc[:10]['Type']
## There is already column in the dataset about fuel-type thus in this column we are just going to take car type.

0    [, Used, , Diesel (Particulate Filter)]
1                       [, Used, , Gasoline]
2    [, Used, , Diesel (Particulate Filter)]
3    [, Used, , Diesel (Particulate Filter)]
4    [, Used, , Diesel (Particulate Filter)]
5    [, Used, , Diesel (Particulate Filter)]
6    [, Used, , Diesel (Particulate Filter)]
7    [, Used, , Diesel (Particulate Filter)]
8    [, Used, , Diesel (Particulate Filter)]
9                       [, Used, , Gasoline]
Name: Type, dtype: object

In [44]:
df['Type']=df['Type'].str[1]

In [45]:
df['Type'].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

# Previous Owners

In [46]:
df[['Previous Owners','prev_owner']]

                                         Previous Owners prev_owner
0                                                  \n2\n          2
1                                                    NaN        NaN
2                                                  \n1\n          1
3                                                  \n1\n          1
4                                                  \n1\n          1
...                                                  ...        ...
15914                                                NaN        NaN
15915  [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...          1
15916                   [\n1\n, \n139 g CO2/km (comb)\n]          1
15917                                                NaN        NaN
15918                                              \n1\n          1

[15919 rows x 2 columns]

In [47]:
df.drop(columns='Previous Owners',inplace=True)
## There is already 'prev_owner' column,which is same with 'Previous Owners' ,so we are dropping this column.

# Next Inspection

In [48]:
df['Next Inspection'].astype('str').value_counts(dropna=False)
##because of list values,this code will raise a error

nan                                           12384
\n04/2022\n                                      62
\n03/2021\n                                      38
\n03/2022\n                                      36
\n06/2021\n                                      34
                                              ...
['\n12/2018\n', '\n97 g CO2/km (comb)\n']         1
['\n03/2022\n', '\n1 (No sticker)\n']             1
['\n05/2021\n', '\n93 g CO2/km (comb)\n']         1
['\n06/2021\n', '\n93 g CO2/km (comb)\n']         1
['\n01/2022\n', '\n168 g CO2/km (comb)\n']        1
Name: Next Inspection, Length: 1400, dtype: int64

In [49]:
df['Next Inspection']=df['Next Inspection'].transform(lambda x: x[0] if type(x)==list else x)   
## First we deleted the list format and unnecessary information in the data

In [50]:
df['Next Inspection'].value_counts(dropna=False)
#in this column,there are many missing values but right now we are just cleaning the data

NaN            12384
\n06/2021\n      471
\n03/2021\n      210
\n05/2021\n      180
\n04/2021\n      171
               ...
\n05/2014\n        1
\n04/2016\n        1
\n01/1955\n        1
\n01/2018\n        1
\n11/2022\n        1
Name: Next Inspection, Length: 78, dtype: int64

In [51]:
df['Next Inspection']=df['Next Inspection'].str.extract('(\d{4})')

In [52]:
df['Next Inspection'].value_counts(dropna=False)
## we cleaned the data,but there are too many missing values so we will drop it.

NaN     12384
2021     1601
2020      694
2022      688
2019      438
2023       47
2018       38
2017       13
2016        6
2001        5
1999        1
1955        1
2014        1
1921        1
2024        1
Name: Next Inspection, dtype: int64

In [53]:
df.drop(columns='Next Inspection',inplace=True)

# Inspection new

In [54]:
df['Inspection new'].astype('str').value_counts(dropna=False)

nan                                                                                                            11987
['\nYes\n', '\nEuro 6\n']                                                                                        523
\nYes\n                                                                                                          362
['\nYes\n', '\n102 g CO2/km (comb)\n']                                                                           174
['\nYes\n', '\n4 (Green)\n']                                                                                     166
                                                                                                               ...
['\nYes\n', '\n', '6 l/100 km (comb)', '\n', '8 l/100 km (city)', '\n', '4.9 l/100 km (country)', '\n']            1
['\nYes\n', '\n', '6.8 l/100 km (comb)', '\n', '8.5 l/100 km (city)', '\n', '6.1 l/100 km (country)', '\n']        1
['\nYes\n', '\n', '4.1 l/100 km (comb)', '\n', '7.5 l/100 km (city)', '\n', '5.2 l/100 km (country)', '\n']        1
['\nYes\n', '\n', '5.2 l/100 km (comb)', '\n', '6.8 l/100 km (city)', '\n', '4.3 l/100 km (country)', '\n']        1
['\nYes\n', '\n172 g CO2/km (comb)\n']                                                                             1
Name: Inspection new, Length: 203, dtype: int64

In [55]:
df['Inspection new']=df['Inspection new'].transform(lambda x: x[0] if type(x)==list else x)
## In this column,there are information about 'Fuel Consumption' and 'CO2 Emission' 
##  since there is already columns about these information, we are just going to take   beginning of rows.

In [56]:
df['Inspection new'].value_counts(dropna=False)

NaN        11987
\nYes\n     3932
Name: Inspection new, dtype: int64

In [57]:
df['Inspection new']=df['Inspection new'].str.strip('\n')

In [58]:
df['Inspection new'].value_counts(dropna=False)
##There is too many missing values so  I decided to drop this column.

NaN    11987
Yes     3932
Name: Inspection new, dtype: int64

In [59]:
df.drop(columns='Inspection new',inplace=True)

# Warranty

In [60]:
df.sample(15)['Warranty']

4262                         [\n, \n, \nEuro 6\n]
15786                  [\n, \n, \nEuro 6d-TEMP\n]
14938    [\n12 months\n, \n123 g CO2/km (comb)\n]
1972                                           \n
11778                                         NaN
4944                  [\n12 months\n, \nEuro 6\n]
10582                                         NaN
5563                                           \n
15086                                         NaN
1868                                \n48 months\n
11994                                    [\n, \n]
11524                                         NaN
11017                                         NaN
8932                                          NaN
6228                                          NaN
Name: Warranty, dtype: object

In [61]:
df['Warranty'].astype('str').value_counts(dropna=False)

nan                                                                                                                5420
['\n', '\n', '\nEuro 6\n']                                                                                         1868
\n12 months\n                                                                                                      1177
\n                                                                                                                  979
\n24 months\n                                                                                                       566
                                                                                                                   ...
['\n72 months\n', '\n125 g CO2/km (comb)\n']                                                                          1
['\n60 months\n', '\n14 g CO2/km (comb)\n']                                                                           1
['\n24 months\n', '\n121 g CO2/km (comb)\n']                                                                          1
['\n12 months\n', '\nEuro 6d\n']                                                                                      1
['\n36 months\n', '\n', '7.4 l/100 km (comb)', '\n', '9.6 l/100 km (city)', '\n', '6 l/100 km (country)', '\n']       1
Name: Warranty, Length: 516, dtype: int64

In [62]:
df['Warranty']=df['Warranty'].transform(lambda x: x[0] if type(x)==list else x)

In [63]:
df['Warranty'].value_counts(dropna=False)

\n               5645
NaN              5420
\n12 months\n    2594
\n24 months\n    1118
\n60 months\n     401
\n36 months\n     279
\n48 months\n     149
\n6 months\n      125
\n72 months\n      59
\n3 months\n       33
\n23 months\n      11
\n18 months\n      10
\n20 months\n       7
\n25 months\n       6
\n2 months\n        5
\n50 months\n       4
\n26 months\n       4
\n16 months\n       4
\n1 months\n        3
\n19 months\n       3
\n4 months\n        3
\n34 months\n       3
\n13 months\n       3
\n17 months\n       2
\n45 months\n       2
\n9 months\n        2
\n21 months\n       2
\n14 months\n       2
\n28 months\n       2
\n11 months\n       2
\n22 months\n       2
\n46 months\n       2
\n10 months\n       1
\n8 months\n        1
\n7 months\n        1
\n15 months\n       1
                    1
\n56 months\n       1
\n49 months\n       1
\n65 months\n       1
\n47 months\n       1
\n33 months\n       1
\n40 months\n       1
\n30 months\n       1
Name: Warranty, dtype: int64

In [64]:
df['Warranty']=df['Warranty'].str.strip('\n').str.strip(' ').replace('',np.nan).str.strip('months')

In [65]:
df['Warranty'].value_counts(dropna=False)
## Even thought there are  a lot of missing values,data has been cleaned.

NaN    11066
12      2594
24      1118
60       401
36       279
48       149
6        125
72        59
3         33
23        11
18        10
20         7
25         6
2          5
50         4
26         4
16         4
4          3
1          3
19         3
34         3
13         3
28         2
22         2
14         2
11         2
46         2
21         2
9          2
17         2
45         2
33         1
40         1
65         1
10         1
15         1
7          1
8          1
56         1
49         1
47         1
30         1
Name: Warranty, dtype: int64

# Full Service

In [66]:
df['Full Service'].astype('str').value_counts(dropna=False)

nan                                                                                                             7704
['\n', '\n', '\n4 (Green)\n']                                                                                   2235
['\n', '\n', '\nEuro 6\n']                                                                                      2097
['\n', '\n']                                                                                                    1702
['\n', '\n', '\nEuro 6d-TEMP\n']                                                                                 399
                                                                                                                ...
['\n', '\n', '\n80 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n84 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n', '6 l/100 km (comb)', '\n', '8 l/100 km (city)', '\n', '4.9 l/100 km (country)', '\n']           1
['\n', '\n', '\n', '4.9 l/100 km (comb)', '\n', '6.2 l/100 km (city)', '\n', '4.1 l/100 km (country)', '\n']       1
['\n', '\n', '\nEuro 4\n']                                                                                         1
Name: Full Service, Length: 123, dtype: int64

In [67]:
df.drop(columns='Full Service',inplace=True)
##Almost all of data has no meaning,data with any meaning is repeated in other columns.
##Because of this ,we dropped this column.

# Non-smoking Vehicle

In [68]:
df['Non-smoking Vehicle'].astype('str').value_counts(dropna=False)

nan                                                                                                             8742
['\n', '\n']                                                                                                    3647
['\n', '\n', '\n4 (Green)\n']                                                                                   1240
['\n', '\n', '\nEuro 6\n']                                                                                      1127
['\n', '\n', '\nEuro 6d-TEMP\n']                                                                                 345
                                                                                                                ...
['\n', '\n', '\n', '5.6 l/100 km (comb)', '\n', '7.3 l/100 km (city)', '\n', '4.7 l/100 km (country)', '\n']       1
['\n', '\n', '\n122 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n158 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n150 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n175 g CO2/km (comb)\n']                                                                            1
Name: Non-smoking Vehicle, Length: 95, dtype: int64

In [69]:
df.drop(columns='Non-smoking Vehicle',inplace=True)
##There is no meaningful data in this column so we dropped it.

# null

In [70]:
df['null'].astype('str').value_counts(dropna=False)

[]    15919
Name: null, dtype: int64

In [71]:
df.drop(columns='null',inplace=True)
##Data completely empty,so we droppe

# Make and Model

In [72]:
df[['Make', 'Model','brand','model']].sample(10)

              Make             Model    brand   model
3154      \nAudi\n      [\n, A3, \n]     Audi      A3
15875  \nRenault\n  [\n, Espace, \n]  Renault  Espace
5360      \nAudi\n      [\n, A3, \n]     Audi      A3
14289  \nRenault\n    [\n, Clio, \n]  Renault    Clio
6923      \nOpel\n   [\n, Astra, \n]     Opel   Astra
13482  \nRenault\n    [\n, Clio, \n]  Renault    Clio
1030      \nAudi\n      [\n, A1, \n]     Audi      A1
5537      \nAudi\n      [\n, A3, \n]     Audi      A3
9990      \nOpel\n   [\n, Corsa, \n]     Opel   Corsa
3121      \nAudi\n      [\n, A3, \n]     Audi      A3

In [73]:
df.drop(columns=['Make', 'Model'],inplace=True)
## We already created 'brand' and 'model' columns ,
##which have the same information 'Make' and 'Model' has , so we dropped these columns.

# Offer Number

In [74]:
df['Offer Number'].astype('str').value_counts(dropna=False)

nan                                                 3175
['\nLT67679\n']                                       27
['\nUN89904\n']                                       27
['\nXJ38068\n']                                       27
['\nJV03654\n']                                       27
                                                    ...
['\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n']       1
['\n6701576\n']                                        1
['\n6701569\n']                                        1
['\n158121\n']                                         1
['\nRe_30000008029\n']                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [75]:
df.drop(columns='Offer Number',inplace=True)
## In this column,there is no offer numbers just ID number, so we dropped it.

# First Registration

In [76]:
df[['First Registration','age']]

      First Registration  age
0         [\n, 2016, \n]  3.0
1         [\n, 2017, \n]  2.0
2         [\n, 2016, \n]  3.0
3         [\n, 2016, \n]  3.0
4         [\n, 2016, \n]  3.0
...                  ...  ...
15914                NaN  NaN
15915     [\n, 2019, \n]  0.0
15916     [\n, 2019, \n]  0.0
15917     [\n, 2019, \n]  0.0
15918     [\n, 2019, \n]  0.0

[15919 rows x 2 columns]

In [77]:
df.drop(columns='First Registration',inplace=True)
## We dropped it , because 'First Registration' and 'registration' are same columns.

# Body Color

In [78]:
df['Body Color'].astype('str').value_counts(dropna=False)

['\n', 'Black', '\n']     3745
['\n', 'Grey', '\n']      3505
['\n', 'White', '\n']     3406
['\n', 'Silver', '\n']    1647
['\n', 'Blue', '\n']      1431
['\n', 'Red', '\n']        957
nan                        597
['\n', 'Brown', '\n']      289
['\n', 'Green', '\n']      154
['\n', 'Beige', '\n']      108
['\n', 'Yellow', '\n']      51
['\n', 'Violet', '\n']      18
['\n', 'Bronze', '\n']       6
['\n', 'Orange', '\n']       3
['\n', 'Gold', '\n']         2
Name: Body Color, dtype: int64

In [79]:
df['Body Color']=df['Body Color'].transform(lambda x : x[1] if type(x)==list else x)

In [80]:
df['Body Color'].value_counts(dropna=False)
## we Cleaned the data.

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

# Paint Type

In [81]:
df['Paint Type'].astype('str').value_counts(dropna=False)

['\nMetallic\n']       9794
nan                    5772
['\nUni/basic\n']       347
['\nPerl effect\n']       6
Name: Paint Type, dtype: int64

In [82]:
df['Paint Type'].transform(lambda x : x[0] if type(x)==list else x).str.strip('\n').value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

In [83]:
df['Paint Type']=df['Paint Type'].transform(lambda x : x[0] if type(x)==list else x).str.strip('\n')
## We regulated the data from list type and cleaned it from unnecessary burdens.

# Body Color Original

In [84]:
df['Body Color Original'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: Body Color Original, Length: 1928, dtype: int64

In [85]:
df[['Body Color Original','Paint Type']].sample(10)

       Body Color Original Paint Type
6224                   NaN        NaN
14011  [\nBLANC GLACIER\n]   Metallic
1432       [\nScubablau\n]   Metallic
15754           [\nNero\n]   Metallic
14002                  NaN        NaN
4948                   NaN   Metallic
10066    [\nArktis Blau\n]   Metallic
9174                   NaN   Metallic
1870                   NaN   Metallic
14777                  NaN        NaN

In [86]:
df['Body Color Original']=df['Body Color Original'].transform(lambda x : x[0] if type(x)==list else x).str.strip('\n')

In [87]:
df['Body Color Original'].value_counts(dropna=False)
#we cleaned data extra burdens.

NaN                              3759
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: Body Color Original, Length: 1928, dtype: int64

# Upholstery

In [88]:
df['Upholstery'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [89]:
df['Upholstery']=df['Upholstery'].str[0].str.strip('\n').str.split(',')

In [90]:
df['Upholstery'].astype('str').value_counts()

['Cloth', ' Black']           5821
nan                           3720
['Part leather', ' Black']    1121
['Cloth']                     1005
['Cloth', ' Grey']             891
['Cloth', ' Other']            639
['Full leather', ' Black']     575
['Black']                      491
['Grey']                       273
['Other', ' Other']            182
['Part leather']               140
['Full leather']               139
['Full leather', ' Brown']     116
['Part leather', ' Grey']      116
['Other', ' Black']            110
['Full leather', ' Other']      72
['Full leather', ' Grey']       67
['Part leather', ' Other']      65
['Other']                       56
['Part leather', ' Brown']      50
['alcantara', ' Black']         47
['Velour', ' Black']            36
['Full leather', ' Beige']      36
['Cloth', ' Brown']             28
['Velour']                      16
['Other', ' Grey']              15
['Cloth', ' Beige']             13
['Brown']                       12
['Cloth', ' Blue']              12
['Velour', ' Grey']              8
['Cloth', ' White']              8
['alcantara', ' Grey']           6
['Cloth', ' Red']                5
['Other', ' Yellow']             4
['Part leather', ' Red']         3
['Beige']                        3
['Part leather', ' White']       2
['Full leather', ' Blue']        2
['alcantara', ' Other']          2
['alcantara']                    2
['White']                        2
['Part leather', ' Beige']       2
['Blue']                         2
['Cloth', ' Orange']             1
['Full leather', ' Red']         1
['Other', ' Brown']              1
['Full leather', ' White']       1
Name: Upholstery, dtype: int64

In [91]:
Upholstery_type=['Cloth','Full leather','alcantara','Part leather','Velour','Other']
def u_type(x):
    if type(x)==list and len(x)==2:
        return x[0]
    elif type(x)==list and len(x)==1 and x[0] in Upholstery_type:
        return x[0]
    else:
        return np.nan

In [92]:
df['Upholstery_type']=df['Upholstery'].transform(u_type)

In [93]:
df['Upholstery_type'].value_counts(dropna=False)

Cloth           8423
NaN             4503
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: Upholstery_type, dtype: int64

In [94]:
Upholstery_color=['Black','Grey','Other','Brown','Beige','Blue','White','Red','Yellow']
def c_type(x):
    if type(x)==list and len(x)==2:
        return x[1]
    elif type(x)==list and len(x)==1 and x[0] in Upholstery_color:
        return x[0]
    else:
        return np.nan

In [95]:
df['Upholstery_color']=df['Upholstery'].transform(c_type).str.strip()

In [96]:
df[['Upholstery_type','Upholstery_color']]

      Upholstery_type Upholstery_color
0               Cloth            Black
1               Cloth             Grey
2               Cloth            Black
3                 NaN              NaN
4               Cloth            Black
...               ...              ...
15914             NaN              NaN
15915           Cloth              NaN
15916    Full leather            Black
15917    Part leather              NaN
15918    Full leather            Brown

[15919 rows x 2 columns]

In [97]:
df.drop(columns='Upholstery',inplace=True)
##since we created new 2 columns and separated the info, this column is no longer necessary, so dropped it

# Body

In [98]:
df[['Body','body_type']]

                   Body body_type
0      [\n, Sedans, \n]    Sedans
1      [\n, Sedans, \n]    Sedans
2      [\n, Sedans, \n]    Sedans
3      [\n, Sedans, \n]    Sedans
4      [\n, Sedans, \n]    Sedans
...                 ...       ...
15914     [\n, Van, \n]       Van
15915     [\n, Van, \n]       Van
15916     [\n, Van, \n]       Van
15917     [\n, Van, \n]       Van
15918     [\n, Van, \n]       Van

[15919 rows x 2 columns]

In [99]:
df['Body'].astype('str').value_counts()

['\n', 'Sedans', '\n']           7903
['\n', 'Station wagon', '\n']    3553
['\n', 'Compact', '\n']          3153
['\n', 'Van', '\n']               783
['\n', 'Other', '\n']             290
['\n', 'Transporter', '\n']        88
nan                                60
['\n', 'Off-Road', '\n']           56
['\n', 'Coupe', '\n']              25
['\n', 'Convertible', '\n']         8
Name: Body, dtype: int64

In [100]:
df['body_type'].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [101]:
df.drop(columns='Body',inplace=True)
##There is column with same info ,because of it we dropped it

# Nr. of Doors

In [102]:
df['Nr. of Doors'].astype('str').value_counts(dropna=False)

['\n5\n']    11575
['\n4\n']     3079
['\n3\n']      832
['\n2\n']      219
nan            212
['\n1\n']        1
['\n7\n']        1
Name: Nr. of Doors, dtype: int64

In [103]:
df['Nr. of Doors']=df['Nr. of Doors'].str[0].str.strip('\n')

In [104]:
df['Nr. of Doors'].value_counts(dropna=False)
## We cleaned the column.

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: Nr. of Doors, dtype: int64

# Nr. of Seats

In [105]:
df['Nr. of Seats'].astype('str').value_counts()

['\n5\n']    13336
['\n4\n']     1125
nan            977
['\n7\n']      362
['\n2\n']      116
['\n6\n']        2
['\n3\n']        1
Name: Nr. of Seats, dtype: int64

In [106]:
df['Nr. of Seats']=df['Nr. of Seats'].str[0].str.strip('\n')
## We cleaned the column.

# Model Code

In [107]:
df['Model Code'].astype('str').value_counts(dropna=False)

nan                 10941
['\n0035/BCB\n']      268
['\n0588/BNO\n']      245
['\n0588/BDB\n']      206
['\n0588/BHX\n']      188
                    ...
['\n0035/AVN\n']        1
['\n0035/BEM\n']        1
['\n0035/BAG\n']        1
['\n0035/BAA\n']        1
['\n3333/BKG\n']        1
Name: Model Code, Length: 233, dtype: int64

In [108]:
df.drop(columns='Model Code',inplace=True)
## This column mostly has missing values and some unnecessary ID,so we can drop it

# Gearing Type

In [109]:
df['Gearing Type'].isnull().sum()

0

In [110]:
df['Gearing Type']=df['Gearing Type'].str[1]

In [111]:
df['Gearing Type'].value_counts()
## We cleaned the column.

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

# Displacement

In [112]:
df['Displacement'].isnull().sum()

496

In [113]:
df['Displacement'].astype('str').value_counts(dropna=False)

['\n1,598 cc\n']    4761
['\n999 cc\n']      2438
['\n1,398 cc\n']    1314
['\n1,399 cc\n']     749
['\n1,229 cc\n']     677
                    ...
['\n122 cc\n']         1
['\n1,198 cc\n']       1
['\n1,195 cc\n']       1
['\n2,967 cc\n']       1
['\n1,800 cc\n']       1
Name: Displacement, Length: 78, dtype: int64

In [114]:
df['Displacement']=df['Displacement'].str[0].str.replace(',','').str.extract('(\d{4}\s\w{2})')

In [115]:
df['Displacement']=df['Displacement'].str.strip(' cc')

In [116]:
df['Displacement'].value_counts(dropna=False)

1598    4761
NaN     3437
1398    1314
1399     749
1229     677
1956     670
1461     595
1490     559
1422     467
1197     353
1395     320
1968     301
1149     288
1618     212
1798     210
1498     196
1600     130
1248     110
1997     103
1364     102
1400      90
1500      50
2000      46
1000      40
1998      25
2480      20
1200      18
1984      18
1397      11
1499       5
1596       4
1396       3
1199       3
1599       3
1495       2
1589       2
1300       2
1995       1
1533       1
6000       1
1100       1
1333       1
1496       1
1580       1
1195       1
1856       1
2967       1
1198       1
1390       1
1369       1
1350       1
1239       1
1568       1
1368       1
5898       1
1686       1
1696       1
1896       1
1584       1
1800       1
Name: Displacement, dtype: int64

# Cylinders

In [117]:
df['Cylinders'].astype('str').value_counts(dropna=False)

['\n4\n']    8105
nan          5680
['\n3\n']    2104
['\n5\n']      22
['\n6\n']       3
['\n8\n']       2
['\n2\n']       2
['\n1\n']       1
Name: Cylinders, dtype: int64

In [118]:
df['Cylinders']=df['Cylinders'].str[0].str.extract('(\d)')

In [119]:
df['Cylinders'].value_counts(dropna=False)
## We cleaned the column from extras.

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: Cylinders, dtype: int64

# Weight

In [120]:
df['Weight'].astype('str').value_counts(dropna=False)

nan                 6974
['\n1,163 kg\n']     574
['\n1,360 kg\n']     356
['\n1,165 kg\n']     301
['\n1,335 kg\n']     242
                    ...
['\n1,960 kg\n']       1
['\n1,258 kg\n']       1
['\n1,167 kg\n']       1
['\n1,331 kg\n']       1
['\n2,037 kg\n']       1
Name: Weight, Length: 435, dtype: int64

In [121]:
df['Weight']=df['Weight'].str[0].str.replace(',','').str.extract('(\d+)')

In [122]:
df['Weight']=df['Weight'].astype('float')

In [123]:
df['Weight'].sort_values().head()

8355       1.0
12779      1.0
1143     102.0
8857     840.0
14313    900.0
Name: Weight, dtype: float64

In [124]:
df['Weight'].value_counts(dropna=False)
##Data finally clean.

NaN       6974
1163.0     574
1360.0     356
1165.0     301
1335.0     242
          ...
1960.0       1
1258.0       1
1167.0       1
1331.0       1
2037.0       1
Name: Weight, Length: 435, dtype: int64

# Drive chain

In [125]:
df['Drive chain'].astype('str').value_counts(dropna=False)

['\nfront\n']    8886
nan              6858
['\n4WD\n']       171
['\nrear\n']        4
Name: Drive chain, dtype: int64

In [126]:
df['Drive chain']=df['Drive chain'].str[0].str.strip('\n')

In [127]:
df['Drive chain'].value_counts()
## we cleaned the data.

front    8886
4WD       171
rear        4
Name: Drive chain, dtype: int64

# Fuel

In [128]:
df['Fuel'].astype('str').value_counts(dropna=False)

['\n', 'Diesel (Particulate Filter)', '\n']                                                                                  4315
['\n', 'Super 95', '\n']                                                                                                     3338
['\n', 'Gasoline', '\n']                                                                                                     3175
['\n', 'Diesel', '\n']                                                                                                       2984
['\n', 'Super 95 / Regular/Benzine 91', '\n']                                                                                 424
                                                                                                                             ...
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91', '\n']                                                          1
['\n', 'Super Plus 98 / Super E10 95', '\n']                                                                                    1
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98', '\n']       1
['\n', 'Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98', '\n']       1
['\n', 'Super Plus 98 / Super 95 / Super Plus E10 98', '\n']                                                                    1
Name: Fuel, Length: 77, dtype: int64

In [129]:
df['Fuel'].transform(lambda x: x[1] if type(x)==list else x)

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: Fuel, Length: 15919, dtype: object

In [130]:
df['Fuel']=df['Fuel'].str[1].str.split(' ').str[0]

In [131]:
df['Fuel'].value_counts(dropna=False)

Diesel               7299
Super                4790
Gasoline             3252
Regular/Benzine       503
CNG                    36
LPG                    16
Liquid                 10
Others                  6
Electric/Gasoline       4
Biogas                  1
Domestic                1
Electric                1
Name: Fuel, dtype: int64

In [132]:
def fuel_type(x):
    if x=='Diesel':
        return 'Diesel'
    elif x=='Super' or x=='Gasoline' or x=='Regular/Benzine':
        return 'Benzine'
    elif x=='CNG' or x=='Liquid' or x=='LPG':
        return 'LPG'
    else:
        return 'Other'

In [133]:
df['Fuel']=df['Fuel'].transform(fuel_type)

In [134]:
df['Fuel'].value_counts(dropna=False)
## We cleaned the data.

Benzine    8545
Diesel     7299
LPG          62
Other        13
Name: Fuel, dtype: int64

# Consumption

In [135]:
df['Consumption'].astype('str').value_counts(dropna=False)

nan                                                                                                 1906
[['3.9 l/100 km (comb)'], ['4.1 l/100 km (city)'], ['3.7 l/100 km (country)']]                       304
[['4.2 l/100 km (comb)'], ['5 l/100 km (city)'], ['3.7 l/100 km (country)']]                         276
[['5.4 l/100 km (comb)'], ['6.8 l/100 km (city)'], ['4.5 l/100 km (country)']]                       257
[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city)'], ['3.5 l/100 km (country)']]                       253
                                                                                                    ...
[['4.2 l/100 km (comb)'], ['5.3 l/100 km (city)'], ['3.6 l/100 km (country)']]                         1
['\n', '5.1 l/100 km (comb)', '\n', '6.4 l/100 km (city)', '\n', '4.3 l/100 km (country)', '\n']       1
[['4.6 l/100 km (comb)'], ['5.4 l/100 km (city)'], ['6.7 l/100 km (country)']]                         1
['\n', '6.3 l/100 km (comb)', '\n', '\n', '\n']                                                        1
['\n', '7.4 l/100 km (comb)', '\n', '9.6 l/100 km (city)', '\n', '6 l/100 km (country)', '\n']         1
Name: Consumption, Length: 882, dtype: int64

In [136]:
def comb_finder(x):
    if type(x)==list and len(x)==3:
        return x[0]
    elif type(x)==list and len(x)==7:
        return x[1]
    else :
        return np.nan

In [137]:
df['Consumption_comb']=df['Consumption'].apply(comb_finder)

In [138]:
def exit_list(x):
    if type(x)==list and len(x)>0:
        return x[0]
    elif type(x)==list and len(x)==0:
        return np.nan
    else:
        return x

In [139]:
df['Consumption_comb']=df['Consumption_comb'].apply(exit_list)

In [140]:
df['Consumption_comb']=df['Consumption_comb'].str.strip('l/100 km (comb)').str.strip('.').str.strip('kg').replace('',np.nan).astype('float')

In [141]:
df['Consumption_comb'].value_counts(dropna=False)

NaN     2085
5.0     1204
4.0     1057
5.4      764
3.9      733
4.4      623
5.6      618
4.7      601
3.8      586
4.8      546
4.5      523
6.0      506
5.2      454
4.2      435
4.6      426
4.9      392
5.3      380
5.5      380
3.7      369
5.9      368
5.7      342
4.3      307
3.3      307
3.5      288
6.2      216
3.6      194
6.3      180
5.8      163
6.6      148
6.8      136
3.4      106
3.0       76
6.4       75
7.4       66
7.0       48
6.5       43
6.7       43
6.9       27
3.2       25
8.3       20
7.6       14
8.0        7
7.2        6
7.8        6
8.6        4
5.1        3
8.7        3
7.9        3
38.0       2
7.3        2
7.5        1
43.0       1
9.0        1
55.0       1
54.0       1
2.0        1
32.0       1
33.0       1
46.0       1
Name: Consumption_comb, dtype: int64

In [142]:
def city_finder(x):
    if type(x)==list and len(x)==3:
        return x[1]
    elif type(x)==list and len(x)==7:
        return x[3]
    else :
        return np.nan

In [143]:
df['Consumption_city']=df['Consumption'].apply(city_finder)

In [144]:
df['Consumption_city']=df['Consumption_city'].apply(exit_list)

In [145]:
df['Consumption_city']=df['Consumption_city'].str.strip('l/100 km (city)').str.strip('.').str.strip('kg').replace('',np.nan).astype('float')

In [146]:
df['Consumption_city'].value_counts(dropna=False)

NaN     2466
5.0     1153
5.8      633
4.0      621
4.5      580
        ...
43.0       2
3.6        2
66.0       1
64.0       1
9.7        1
Name: Consumption_city, Length: 68, dtype: int64

In [147]:
def country_finder(x):
    if type(x)==list and len(x)==3:
        return x[2]
    elif type(x)==list and len(x)==7:
        return x[5]
    else :
        return np.nan

In [148]:
df['Consumption_country']=df['Consumption'].apply(country_finder)

In [149]:
df['Consumption_country']=df['Consumption_country'].apply(exit_list)

In [150]:
df['Consumption_country']=df['Consumption_country'].str.strip('l/100 km (country)').str.strip('.').str.strip('kg').replace('',np.nan).astype('float')

In [151]:
df.drop(columns='Consumption',inplace=True)
## we separated the info and created 3 new columns ,therefore we dropped original column.

# CO2 Emission

In [152]:
df['CO2 Emission'].astype('str').value_counts(dropna=False)

nan                              1808
['\n120 g CO2/km (comb)\n']       740
[[], [], []]                      628
['\n99 g CO2/km (comb)\n']        545
['\n97 g CO2/km (comb)\n']        537
                                 ...
['\n14 g CO2/km (comb)\n']          1
['\n1,060 g CO2/km (comb)\n']       1
['\n51 g CO2/km (comb)\n']          1
['\n165 g CO2/km (comb)\n']         1
['\n193 g CO2/km (comb)\n']         1
Name: CO2 Emission, Length: 124, dtype: int64

In [153]:
df['CO2 Emission'].iloc[1400:1450]

1400     [\n97 g CO2/km (comb)\n]
1401    [\n104 g CO2/km (comb)\n]
1402     [\n98 g CO2/km (comb)\n]
1403     [\n97 g CO2/km (comb)\n]
1404    [\n102 g CO2/km (comb)\n]
1405    [\n104 g CO2/km (comb)\n]
1406     [\n97 g CO2/km (comb)\n]
1407    [\n115 g CO2/km (comb)\n]
1408    [\n102 g CO2/km (comb)\n]
1409     [\n99 g CO2/km (comb)\n]
1410    [\n102 g CO2/km (comb)\n]
1411    [\n102 g CO2/km (comb)\n]
1412     [\n97 g CO2/km (comb)\n]
1413    [\n102 g CO2/km (comb)\n]
1414    [\n102 g CO2/km (comb)\n]
1415    [\n102 g CO2/km (comb)\n]
1416     [\n97 g CO2/km (comb)\n]
1417     [\n97 g CO2/km (comb)\n]
1418     [\n97 g CO2/km (comb)\n]
1419     [\n97 g CO2/km (comb)\n]
1420     [\n97 g CO2/km (comb)\n]
1421                          NaN
1422     [\n97 g CO2/km (comb)\n]
1423     [\n97 g CO2/km (comb)\n]
1424    [\n102 g CO2/km (comb)\n]
1425     [\n97 g CO2/km (comb)\n]
1426     [\n97 g CO2/km (comb)\n]
1427                          NaN
1428     [\n97 g CO2/km (comb)\n]
1429     [\n97 g CO2/km (comb)\n]
1430     [\n97 g CO2/km (comb)\n]
1431     [\n97 g CO2/km (comb)\n]
1432     [\n97 g CO2/km (comb)\n]
1433     [\n97 g CO2/km (comb)\n]
1434    [\n104 g CO2/km (comb)\n]
1435     [\n98 g CO2/km (comb)\n]
1436    [\n102 g CO2/km (comb)\n]
1437    [\n102 g CO2/km (comb)\n]
1438    [\n102 g CO2/km (comb)\n]
1439    [\n109 g CO2/km (comb)\n]
1440    [\n104 g CO2/km (comb)\n]
1441    [\n104 g CO2/km (comb)\n]
1442     [\n97 g CO2/km (comb)\n]
1443    [\n102 g CO2/km (comb)\n]
1444    [\n102 g CO2/km (comb)\n]
1445                          NaN
1446    [\n102 g CO2/km (comb)\n]
1447    [\n102 g CO2/km (comb)\n]
1448    [\n102 g CO2/km (comb)\n]
1449    [\n102 g CO2/km (comb)\n]
Name: CO2 Emission, dtype: object

In [154]:
def exit_list(x):
    if type(x)==list and len(x)==1:
        return x[0]
    elif type(x)==list and len(x)==2:
        return x[1]
    elif type(x)==list and len(x)==3:
        return np.nan
    else:
        return x

In [155]:
df['CO2 Emission']=df['CO2 Emission'].transform(exit_list).str.strip('\n').str.extract('(\d+)')

In [156]:
#df['CO2 Emission']=df['CO2 Emission'].str.strip('\n').str.strip('g CO2/km (comb)').str.replace(',','').astype(float)

In [157]:
df['CO2 Emission'].sample(30)
## We cleaned the data for further processing

8549     137
12749    133
13732    127
4657     103
6351     128
13918    NaN
1585     109
11696    136
5282     103
5384     118
10531    129
14684    113
3716     103
10709    169
11959    NaN
6937      93
277      102
12148    129
4263     106
1492     107
2993      99
1914     110
8200     133
8300     137
12230    139
3940     NaN
7124     104
6481     103
14304    133
2667      99
Name: CO2 Emission, dtype: object

# Emission Class

In [158]:
df['Emission Class'].astype('str').value_counts(dropna=False)

['\nEuro 6\n']          10139
nan                      3021
['\nEuro 6d-TEMP\n']     1845
[[], [], []]              607
['\nEuro 6c\n']           127
['\nEuro 5\n']             78
['\nEuro 6d\n']            62
['\nEuro 4\n']             40
Name: Emission Class, dtype: int64

In [159]:
def exit_list(x):
    if type(x)==list and len(x)==1:
        return x[0]
    elif type(x)==list and len(x)==2:
        return x[1]
    elif type(x)==list and len(x)==3:
        return np.nan
    else:
        return x

In [160]:
df['Emission Class']=df['Emission Class'].apply(exit_list).str.strip('\n').replace(['Euro 6d-TEMP','Euro 6c','Euro 6d'],'Euro 6')

In [161]:
df['Emission Class'].value_counts(dropna=False)
##Data has been cleaned.

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: Emission Class, dtype: int64

# Comfort & Convenience

In [162]:
df['\nComfort & Convenience\n'].astype(str).value_counts(dropna=False)

nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        920
['Air conditioning', 'Electrical side mirrors', 'Hill Holder', 'Power windows']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            216
['Air conditioning', 'Electrical side mirrors', 'Power windows']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           134
['Air conditioning', 'Power windows']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      130
['Air conditioning', 'Armrest', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Start-stop system']                                                                                                                                                                     105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
['Air conditioning', 'Cruise control', 'Electrical side mirrors', 'Hill Holder', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Split rear seats', 'Start-stop system', 'Tinted windows']                                                                                                                                                                                                                                   1
['Air conditioning', 'Armrest', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Heated steering wheel', 'Hill Holder', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system camera', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Sunroof']                                                                                                         1
['Air conditioning', 'Armrest', 'Cruise control', 'Electrical side mirrors', 'Heated steering wheel', 'Hill Holder', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Park Distance Control', 'Parking assist system camera', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Split rear seats', 'Start-stop system', 'Tinted windows']                                                                                                                             1
['Air conditioning', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating']                                                                                                                                                                                                                                              1
['Air conditioning', 'Automatic climate control', 'Cruise control', 'Electrically heated windshield', 'Electrical side mirrors', 'Electric tailgate', 'Heads-up display', 'Heated steering wheel', 'Hill Holder', 'Keyless central door lock', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Navigation system', 'Park Distance Control', 'Parking assist system camera', 'Parking assist system self-steering', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Sunroof']      1
Name: \nComfort & Convenience\n, Length: 6199, dtype: int64

In [163]:
df['Comfort & Convenience']=df['\nComfort & Convenience\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')

C:\Users\90543\AppData\Local\Temp/ipykernel_5300/2511376170.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Comfort & Convenience']=df['\nComfort & Convenience\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')

In [164]:
df['Comfort & Convenience'].value_counts(dropna=False)
# We cleaned data for more processing in the future and we will drop the old column.

nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        920
Air conditioning, Electrical side mirrors, Hill Holder, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
Air conditioning, Electrical side mirrors, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
Air conditioning, Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows                                                                                                                                                                                                                   1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof                                                                                                   1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows                                                                                                                     1
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                                                                                                                                                                                                          1
Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof      1
Name: Comfort & Convenience, Length: 6199, dtype: int64

In [165]:
df.drop(columns='\nComfort & Convenience\n',inplace=True)

# Entertainment & Media

In [166]:
df['\nEntertainment & Media\n'].astype('str').value_counts(dropna=False)

nan                                                                                                                             1374
['Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio', 'USB']                                                      1282
['Bluetooth', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB']                                                982
['Bluetooth', 'CD player', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB']                                   783
['On-board computer', 'Radio']                                                                                                   487
                                                                                                                                ...
['Bluetooth', 'CD player', 'Digital radio', 'Hands-free equipment', 'Radio']                                                       1
['CD player', 'Hands-free equipment', 'MP3', 'Radio', 'USB']                                                                       1
['MP3', 'Radio', 'Sound system', 'USB']                                                                                            1
['Bluetooth', 'MP3', 'On-board computer', 'Radio', 'Television', 'USB']                                                            1
['Bluetooth', 'CD player', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'Sound system', 'Television', 'USB']       1
Name: \nEntertainment & Media\n, Length: 347, dtype: int64

In [167]:
df['Entertainment & Media']=df['\nEntertainment & Media\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')

C:\Users\90543\AppData\Local\Temp/ipykernel_5300/1237862579.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Entertainment & Media']=df['\nEntertainment & Media\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')

In [168]:
df['Entertainment & Media'].value_counts(dropna=False)
# We cleaned the old column and created a new column so we can drop old column.

nan                                                                                                         1374
Bluetooth, Hands-free equipment, On-board computer, Radio, USB                                              1282
Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB                                          982
Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB                               783
On-board computer, Radio                                                                                     487
                                                                                                            ...
Bluetooth, CD player, Digital radio, Hands-free equipment, Radio                                               1
CD player, Hands-free equipment, MP3, Radio, USB                                                               1
MP3, Radio, Sound system, USB                                                                                  1
Bluetooth, MP3, On-board computer, Radio, Television, USB                                                      1
Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB       1
Name: Entertainment & Media, Length: 347, dtype: int64

In [169]:
df.drop(columns='\nEntertainment & Media\n',inplace=True)

# Extras

In [170]:
df['\nExtras\n'].astype('str').value_counts(dropna=False)

['Alloy wheels']                                                                                                                 3245
nan                                                                                                                              2962
['Alloy wheels', 'Touch screen']                                                                                                  697
['Alloy wheels', 'Voice Control']                                                                                                 577
['Alloy wheels', 'Touch screen', 'Voice Control']                                                                                 541
                                                                                                                                 ...
['Alloy wheels', 'Catalytic Converter', 'Shift paddles', 'Sport package', 'Sport seats', 'Sport suspension', 'Voice Control']       1
['Alloy wheels', 'Catalytic Converter', 'Roof rack', 'Sport package', 'Sport seats', 'Trailer hitch']                               1
['Alloy wheels', 'Catalytic Converter', 'Ski bag', 'Sport package', 'Voice Control']                                                1
['Catalytic Converter', 'Roof rack', 'Sport seats', 'Sport suspension']                                                             1
['Alloy wheels', 'Shift paddles', 'Ski bag', 'Sport seats', 'Sport suspension', 'Touch screen', 'Voice Control']                    1
Name: \nExtras\n, Length: 660, dtype: int64

In [171]:
df['Extras']=df['\nExtras\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')
# We cleaned the data.

C:\Users\90543\AppData\Local\Temp/ipykernel_5300/603647440.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Extras']=df['\nExtras\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')

In [172]:
df.drop(columns='\nExtras\n',inplace=True)
#We created new one, so we dropped old column.

# Safety & Security

In [173]:
df['\nSafety & Security\n'].astype('str').value_counts(dropna=False)

nan                                                                                                                                                                                                                                                                                                                                                                                                                      982
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control']                                                                                                                                                     538
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control']                                                                                                                                                                   480
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control', 'Xenon headlights']                                                                                                                                               275
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'LED Daytime Running Lights', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control']                                                                                                                       272
                                                                                                                                                                                                                                                                                                                                                                                                                        ...
['ABS', 'Central door lock', 'Electronic stability control', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag']                                                                                                                                                                                                                                                                            1
['ABS', 'Adaptive Cruise Control', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Emergency brake assistant', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control']                                                                                                             1
['ABS', 'Adaptive Cruise Control', 'Alarm system', 'Central door lock', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'Lane departure warning system', 'LED Daytime Running Lights', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control', 'Xenon headlights']                                                   1
['ABS', 'Adaptive Cruise Control', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'Power steering', 'Tire pressure monitoring system', 'Traction control']                                                                                                                                                                    1
['ABS', 'Adaptive Cruise Control', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Emergency brake assistant', 'Fog lights', 'Immobilizer', 'Isofix', 'Lane departure warning system', 'LED Daytime Running Lights', 'LED Headlights', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traffic sign recognition']      1
Name: \nSafety & Security\n, Length: 4444, dtype: int64

In [174]:
df['Safety & Security']=df['\nSafety & Security\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')

C:\Users\90543\AppData\Local\Temp/ipykernel_5300/1247230620.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Safety & Security']=df['\nSafety & Security\n'].astype('str').str.replace('[','').str.replace(']','').str.replace("'",'')

In [175]:
df['Safety & Security'].value_counts(dropna=False)

nan                                                                                                                                                                                                                                                                                                                                                                                982
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                           538
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                       480
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                                                                                                     275
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                               272
                                                                                                                                                                                                                                                                                                                                                                                  ...
ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                     1
ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights                                                 1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control                                                                                                                                                        1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition      1
Name: Safety & Security, Length: 4444, dtype: int64

In [176]:
df.drop(columns='\nSafety & Security\n',inplace=True)
#data has been cleaned and new column has been created.

# description

In [177]:
df['description']

0        [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1        [\nLangstreckenfahrzeug daher die hohe Kilomet...
2        [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3        [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4        [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
                               ...
15914    [\nVettura visionabile nella sede in Via Roma ...
15915    [\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916    [\n, Getriebe:,  Automatik, Technik:,  Bordcom...
15917    [\nDEK:[2691331], Renault Espace Blue dCi 200C...
15918    [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...
Name: description, Length: 15919, dtype: object

In [178]:
df.drop(columns='description',inplace=True)
# We dropped this column because this column not only in german ,also unnecessary.

# Emission Label

In [179]:
df['Emission Label'].astype('str').value_counts(dropna=False)

nan                       11934
['\n4 (Green)\n']          3553
['\n1 (No sticker)\n']      381
[[], [], []]                 40
['\n5 (Blue)\n']              8
['\n3 (Yellow)\n']            2
['\n2 (Red)\n']               1
Name: Emission Label, dtype: int64

In [180]:
df.drop(columns='Emission Label',inplace=True)
#we also dropped this column as it has too much missing  and meaningless value.

# Gears

In [181]:
df['Gears'].astype('str').value_counts(dropna=False)

['\n6\n']     5822
nan           4712
['\n5\n']     3239
['\n7\n']     1908
['\n8\n']      224
['\n9\n']        6
['\n1\n']        2
['\n3\n']        2
['\n4\n']        2
['\n2\n']        1
['\n50\n']       1
Name: Gears, dtype: int64

In [182]:
df['Gears']=df['Gears'].str[0].str.strip('\n')

In [183]:
df['Gears'].value_counts(dropna=False)
# We cleaned the data.

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: Gears, dtype: int64

# Country version

In [184]:
df['Country version'].astype('str').value_counts(dropna=False)

nan                       8333
['\nGermany\n']           4502
['\nItaly\n']             1038
['\nEuropean Union\n']     507
['\nNetherlands\n']        464
['\nSpain\n']              325
['\nBelgium\n']            314
['\nAustria\n']            208
['\nCzech Republic\n']      52
['\nPoland\n']              49
['\nFrance\n']              38
['\nDenmark\n']             33
['\nHungary\n']             28
['\nJapan\n']                8
['\nSlovakia\n']             4
['\nCroatia\n']              4
['\nSweden\n']               3
['\nRomania\n']              2
['\nBulgaria\n']             2
['\nLuxembourg\n']           1
['\nSwitzerland\n']          1
['\nSlovenia\n']             1
['\nEgypt\n']                1
['\nSerbia\n']               1
Name: Country version, dtype: int64

In [185]:
df.drop(columns='Country version',inplace=True)
#  half of data missing and other half  all from European Union >>
# >>>> so maybe we deopped this column

In [194]:
df.columns

Index(['body_type', 'price', 'vat', 'km', 'prev_owner', 'hp', 'Type',
       'Warranty', 'Body Color', 'Paint Type', 'Body Color Original',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'CO2 Emission',
       'Emission Class', 'Gears', 'age', 'Upholstery_type', 'Upholstery_color',
       'Consumption_comb', 'Consumption_city', 'Consumption_country',
       'Comfort & Convenience', 'Entertainment & Media', 'Extras',
       'Safety & Security', 'brand_model'],
      dtype='object')

In [195]:
df=df[['brand_model','body_type', 'price', 'age', 'km', 'Fuel', 'Type', 'prev_owner',
       'Body Color', 'Paint Type', 'Gearing Type', 'hp', 'Consumption_comb',
       'Consumption_city', 'Consumption_country', 
        'Comfort & Convenience', 'Entertainment & Media',
        'Safety & Security','Extras','Upholstery_type','Upholstery_color', 'vat', 'Warranty', 'Body Color Original',
       'Nr. of Doors', 'Nr. of Seats', 'Displacement', 'Cylinders', 'Weight',
       'Drive chain', 'CO2 Emission', 'Emission Class', 'Gears'
       ]]

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   brand_model            15919 non-null  object
 1   body_type              15859 non-null  object
 2   price                  15919 non-null  int64
 3   age                    14322 non-null  float64
 4   km                     15919 non-null  object
 5   Fuel                   15919 non-null  object
 6   Type                   15917 non-null  object
 7   prev_owner             9091 non-null   object
 8   Body Color             15322 non-null  object
 9   Paint Type             10147 non-null  object
 10  Gearing Type           15919 non-null  object
 11  hp                     15831 non-null  object
 12  Consumption_comb       13834 non-null  float64
 13  Consumption_city       13453 non-null  float64
 14  Consumption_country    13501 non-null  float64
 15  Comfort & Convenience  15919 non-null  object
 16  Entertainment & Media  15919 non-null  object
 17  Safety & Security      15919 non-null  object
 18  Extras                 15919 non-null  object
 19  Upholstery_type        11416 non-null  object
 20  Upholstery_color       10897 non-null  object
 21  vat                    11406 non-null  object
 22  Warranty               4853 non-null   object
 23  Body Color Original    12160 non-null  object
 24  Nr. of Doors           15707 non-null  object
 25  Nr. of Seats           14942 non-null  object
 26  Displacement           12482 non-null  object
 27  Cylinders              10239 non-null  object
 28  Weight                 8945 non-null   float64
 29  Drive chain            9061 non-null   object
 30  CO2 Emission           13483 non-null  object
 31  Emission Class         12291 non-null  object
 32  Gears                  11207 non-null  object
dtypes: float64(5), int64(1), object(27)
memory usage: 4.0+ MB

In [197]:
df.isnull().sum()

brand_model                  0
body_type                   60
price                        0
age                       1597
km                           0
Fuel                         0
Type                         2
prev_owner                6828
Body Color                 597
Paint Type                5772
Gearing Type                 0
hp                          88
Consumption_comb          2085
Consumption_city          2466
Consumption_country       2418
Comfort & Convenience        0
Entertainment & Media        0
Safety & Security            0
Extras                       0
Upholstery_type           4503
Upholstery_color          5022
vat                       4513
Warranty                 11066
Body Color Original       3759
Nr. of Doors               212
Nr. of Seats               977
Displacement              3437
Cylinders                 5680
Weight                    6974
Drive chain               6858
CO2 Emission              2436
Emission Class            3628
Gears                     4712
dtype: int64

In [199]:
df.sample(3).T

,14429,2154,2602
brand_model,Renault Clio,Audi A1,Audi A1
body_type,Sedans,Compact,Sedans
price,21900,24930,21850
age,1.0,0.0,NaN
km,18900,3200,
Fuel,Benzine,Benzine,Benzine
Type,Used,Demonstration,New
prev_owner,1,1,NaN
Body Color,White,Grey,White
Paint Type,Metallic,Metallic,Uni/basic
Gearing Type,Automatic,Automatic,Manual
hp,162,85,85
Consumption_comb,5.9,4.8,4.8
Consumption_city,7.6,5.8,5.9
Consumption_country,5.0,4.2,4.0
Comfort & Convenience,"Air conditioning, Armrest, Automatic climate c...","Air conditioning, Armrest, Automatic climate c...","Air conditioning, Armrest, Electrical side mir..."
Entertainment & Media,"Bluetooth, CD player, Hands-free equipment, MP...","Bluetooth, Hands-free equipment, MP3, On-board...","Bluetooth, MP3, On-board computer, Radio, USB"
Safety & Security,"ABS, Alarm system, Central door lock, Central ...","ABS, Central door lock, Driver-side airbag, El...","ABS, Central door lock, Central door lock with..."
Extras,"Alloy wheels, Catalytic Converter, Shift paddl...","Catalytic Converter, Sport package, Sport susp...","Alloy wheels, Touch screen"
Upholstery_type,Cloth,Cloth,Cloth
Upholstery_color,Black,Black,Grey
vat,None,VAT deductible,VAT deductible
Warranty,48,NaN,24
Body Color Original,NaN,Manhattangrau Metallic,Bianco
Nr. of Doors,5,4,5
Nr. of Seats,5,4,5
Displacement,1618,NaN,NaN
Cylinders,4,NaN,3
Weight,1279.0,NaN,1180.0
Drive chain,front,front,front
CO2 Emission,135,108,108
Emission Class,Euro 6,Euro 6,Euro 6
Gears,6,NaN,6

In [200]:
df.to_csv('clean_scout_auto.csv',index=False)